
footer {
	padding: 4em 0;

	.inner-footer {
		width: $width;
		margin: 0 auto;
		@include clearfix;
		padding: 4em 0;
	}

	h3 {
		margin-bottom: 15%;
		font-size: 20px;
	}

	a {
		display: block;
		color: $black;
		font-size: 18px;
		line-height: 30px;
	}
}

footer .navigate {
	float: left;
	font-family: $dinR;
}

footer .boutique {
	float: right;
	font-family: $dinR;
	text-align: right;
}
