
#boutique main {
	width: $width;
	margin: 0 auto;
}

.container_table div {
	margin-top: 8%;
}

.container_table div h2 {
	color: $black;
	font-family: $roboto;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 1px;
	padding-bottom: 1%;
}

.container_table div span {
	color: $black;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
	padding-bottom: 3%;
}

.container_table div:nth-child(1) p::after {
	content: " commande";
	color: $black;
	font-family: $roboto;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1px;
	padding-bottom: 1%;
}

.container_table div:nth-child(2) p::after {
	content: " abonnement";
	color: $black;
	font-family: $roboto;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1px;
	padding-bottom: 1%;
}

.container_table div img {
	width: 100%;
}

.container_button {
	width: 100%;
	margin-top: 13%;
}

.container_button button:nth-child(1) {
	float: left;
	padding: 5% 19.8%;
	background-color: $blue;
	color: white;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
}

.container_button button:nth-child(2) {
	float: right;
	padding: 5% 20.5%;
	background-color: $lightgrey;
	color: $black;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
}
