#index main {
	max-width : $width;
	margin: 0 auto;
}

#index .actu_block {
	margin-top: 25%;

	figure img {
		width: 100%;
	}
}


#index .actu_block div:nth-child(1) {
	border-bottom: solid black 5px;
	width: 5%;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 20px;
}

#index .actu_block>h1 {
	display: inline-block;
	font-size: 30px;
	color: black;
	font-family: 'din_regular', sans-serif;
	letter-spacing: 1px;
}

#index .actu_block .article_block {
	margin-top: 4%;
}

#index .actu_block .article_block article {
	float: left;
	width: 39%;

}

#index .actu_block .article_block article:nth-child(2) {
	float: right;
	width: 57%;
}

#index .actu_block .article_block article:nth-child(1) figure figcaption {
	color: #3BC0D1;
	font-family:$roboto;
	font-weight: 700;
	font-size: 16px;
	margin-top: 7%;
	letter-spacing: 1px;
}

#index .actu_block .article_block article:nth-child(2) figure figcaption {
	color: #3BC0D1;
	font-family:'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	margin-top: 4%;
	letter-spacing: 1px;
}

#index .article_block:nth-child(2n+3) {
	background: red;
}


#index .actu_block .article_block article {
	h2 {
		font-size: 25px;
		font-family: $dinR;
		color: #2D2D2D;
		letter-spacing: 1px;
		margin: 3% 0;
	}

	p {
		width: 100%;
		color: $black;
		font-family: $roboto;
		font-weight: 400;
		font-size: 15px;
		line-height: 3vh;
		letter-spacing: 1px;
	}

	a {
		text-decoration: none;
		color: $blue;
		font-family: $roboto;
		font-weight: 700;
		font-size: 15px;
		letter-spacing: 1px;
		padding-top: 2%;
	}
}


body section.old_articles {
	width: 100%;
	margin-top: 10%;

	article {
		width: 33.1%;
		float: left;

		h2 {
			font-size: 20px;
			font-family: $dinR;
			color: #2D2D2D;
			letter-spacing: 1px;
			margin: 3% 0;
		}

		p {
			width: 90%;
			padding-top: 4%;
			color: $black;
			font-family: $roboto;
			font-weight: 400;
			font-size: 15px;
			line-height: 3vh;
			letter-spacing: 1px;
		}

		a {
			text-decoration: none;
			color: $blue;
			font-family: $roboto;
			font-weight: 700;
			font-size: 15px;
			letter-spacing: 1px;
			padding-top: 2%;
		}
	}

	figure {
		width: 90%;
		img {
			width: 100%;
		}
		figcaption {
			color: $blue;
			font-family:$roboto;
			font-weight: 700;
			font-size: 16px;
			margin-top: 12%;
			letter-spacing: 1px;
		}
	}

}

.scrolling_bloc {
	width: 100%;
	margin-top: 10%;
}

div.container_caption {
	width: 100%;
	height: 100vh;
	@include clearfix;
}


div.container_caption>div:first-child {
	width: 100%;
	background-color: #F6F6F6;
	height: 50vh;
	text-align: center;
}

div.container_caption>div:first-child h1 {
	color: #3BC0D1;
	font-size: 240px;
	opacity: .26;
	font-family: 'din_regular', sans-serif;
	font-weight: 400;
}

div.container_caption>div:first-child p {
	color: #3BC0D1;
	font-size: 35px;
	font-family: 'din_regular', sans-serif;
	font-weight: 400;
	position: relative;
	bottom: 35%;
}

div.container_scrolling {
	background-color: white;
	@include clearfix;
	width: 50%;
	height: 60vh;
	margin: 0 auto;
	padding-bottom: 2%;
	position: relative;
	bottom: 15%;
	-moz-box-shadow: 0px 0px 10px 1px #F7F7F7;
	-webkit-box-shadow: 0px 0px 10px 1px #F7F7F7;
	-o-box-shadow: 0px 0px 10px 1px #F7F7F7;
	box-shadow: 0px 0px 10px 1px #F7F7F7;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#F7F7F7, Direction=NaN, Strength=10);
}

div.container_scrolling .content_scrolling_left{
	float: left;
	width: 49%;
	margin-top: 5%;
	@include clearfix;
}

div.container_scrolling .content_scrolling_left p{
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.5;
	margin: 8% 0 0 10%;
	@include clearfix;
}

div.container_scrolling .content_scrolling_right {
	float: right;
	width: 48%;
	margin-top: 10%;
	@include clearfix;
}

div.container_scrolling .content_scrolling_right p{
	text-align: right;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.5;
	margin: 20% 10% 0 0;
	@include clearfix;
}



//
//
// MEDIA QUERIES
//
//

@media only screen and (max-width : 1300px) {
	.actu_block article:nth-child(1) figure img {
		width: 100%;
	}

	.actu_block article:nth-child(2) figure img {
		width: 100%;
	}

	.old_articles {
		figure:nth-child(1) {
			img {
				width: 95%;
			}
		}
		h2 {
			width: 95%;
		}
	}
}





// TABLETTE

@media only screen and (max-width : 1024px)  {
	.actu_block article:nth-child(1) figure img {
		width: 90%;
	}

	.actu_block article:nth-child(2) figure img {
		width: 90%;
	}

	.old_articles {
		figure:nth-child(1) {
			img {
				width: 95%;
			}
		}
		h2 {
			width: 95%;
		}
	}

		.scrolling_bloc {
			width: 100%;
			@include clearfix;

			.container_scrolling {
				width: 80%;
				height: 60vh;
				@include clearfix;
				padding-bottom: 2%;
		}
	}
}







// MOBILE

@media only screen and (min-width : 320px) and (max-width : 480px) {

	#index .actu_block {
		div:nth-child(1) {
			border-bottom: solid black 3px;
			width: 5%;
			display: inline-block;
			margin-bottom: 5px;
			margin-right: 20px;
		}


		h1 {
			font-size: 25px;
			margin-bottom: 5%;
		}
		#index .actu_block .article_block article {
			width: 100%;
			float: left;
		}
	// 	.article_block {
	// 		article:nth-child(1) {
	// 			width: 100%;
	// 			float: left;
	// 			margin-bottom: 20%;
	// 		}
	//
	// 		article:nth-child(2) {
	// 			width: 100%;
	// 			float: left;
	// 			margin-bottom: 15%;
	// 		}
	// }
}
	// .actu_block article:nth-child(1) figure img {
		// width: 100%;
	// }
//
	// .actu_block article:nth-child(2) figure img {
		// width: 100%;
	// }

	div.clearfix .old_articles {
		article {
				width: 100%;
				margin-bottom: 15%;
			}
		figure:nth-child(1) {
			img {
				width: 95%;
			}
		}
		h2 {
			width: 95%;
		}
	}


		.scrolling_bloc {
			width: 100%;

			.container_scrolling {
				width: 80%;
				height: 100vh;

				.content_scrolling_left {
					width: 100%;
					padding: 5%;

					p {
						margin: 0;
						font-size: 16px;
						text-align: center;
					}
				}

				.content_scrolling_right {
					width: 100%;
					padding: 5%;
					float: left;

					p {
						margin: 0;
						font-size: 16px;
						text-align: center;
					}
				}
		}
	}
}
