body.modify {
  main {
    width: $width;
    margin: 0 auto;
    padding-bottom: 3em;
  }

  .head-modify-form {
    margin-bottom: 4em;
  }
}

section.modify-form {
  span.revue-number {
    font-size: 5em;
    font-weight: bolder;
  }

  div.modify-fields {
    @include clearfix;

    .left-side {
      float: left;
      width: 60%;
    }

    .right-side {
      width: 40%;
      float: right;

    }

    div[class*="-side"] {
      & > div {
        margin-bottom: 1em;
      }

      input[type="text"], textarea {
        width: 60%;
      }
    }
  }

  input[type="submit"] {
    @include blue-bordered-cta;
    margin-top: 2em;
  }
}
