breadcrumb {
  width: $width;
  margin: 3em auto 0 auto;
  font-family: $dinR;

  .arrow {
    padding: 0 1em;
  }

  .active {
    color: $blue;
    font-family: $dinM;
  }

}

.visible{
  display:block;
}
.hidden{
  display:none !important;
}
section.last-journals{
  width: $width;
  margin: 3em auto 6em;

  h2{
    font-size:25px;
    padding-left: 100px;
    position:relative;
    font-family: $dinR;
    letter-spacing: 1px;
    margin-bottom: 2em;
    

    &::before {
      position: absolute;
      content: "";
      width: 74px;
      left:0;
      height: 3px;
      background: $black;
      top: 50%;
    }
  }
}

.blue{
  color: $blue;
}


.all-journals {
  float:left;
  padding-top:2%;
  font-family: $dinR;
  font-size:16px;
  @include clearfix;

  .revue {
    width:19%;
    float:left;
    margin-right: 4.33333%;



    img {
      width: 100%;
    }

    span {
      padding: .5em 1.7em;
      background: $blue;
      color: #fff;
    }
    p {
      font-family: $dinM;
      font-size: 1.2em;
      margin-top: 1.6em;
    }
  }

  .revue:first-child {
    width:30%;
    float:left;


    img {
      width: 100%;
    }
  }

  .revue:last-child {
    margin-right: 0;
  }
}


section.region{
  float: left;
  width: 100%;
  background: $lightgrey;
  padding: 4em 0;

  .inner-region {
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;

    .head-region{
      width: $width;
      margin: 0 auto;
      @include clearfix;

      h2{
        float: left;
        font-size: 30px;
        font-family: $dinR;
      }

      span {
        float: right;
        display: block;
        position: relative;
        font-size:20px;
        font-family: $dinR;
        cursor: pointer;
        margin-bottom: 2em;

        &::before {
          position: absolute;
          content: '';
          width: 30px;
          height: 3px;
          left: -40%;
          background: $black;
          top: 50%;
        }
      }

    } // END OF HEAD REGION
  }
}

.all-regions{
  background: #fff;
  width: $width;
  padding: 6em 7em;
  margin: 0 auto;
  @include clearfix;
  line-height: 1.8;



  .metropole{
    display: block;
    margin-bottom: 8em;
    font-family: $roboto;
    @include clearfix;

    .liste{
      width:30%;
      float:left;
    }
  }

  h3 {
    font-size:26px;
  }

  .outre-mer{
    float:left;
    width:50%;
  }

  .etranger{
    float: left;
    width: 50%;
  }

} // END OF ALL REGIONS


.cartes{
  width:85%;
  margin:0 auto;
  background:white;
  @include clearfix;

  .container_h3 {
    width: 100%;
    padding-top: 5%;
    display:flex;
    justify-content:center;
    align-item:center;
    flex-direction:column;
    h3{
      font-size: 30px;
      font-family: $dinR;
      text-align:center;
    }
    span{
      text-align:center;
      font-family:$dinR;
      font-size:26px;
     }
    }
    .region-img{
    margin-top:6%;



    .region-left{
      width:50%;
      float:left;
      text-align:center;


      img{
        width:60%;
      }

    }
    .region-right{
      width:40%;
      float:right;

    &:hover{
      image:url(../integration/img-content/france-hover.png);
    }



      figure{
        width:100%;
        margin-top:12%;
   


        img{

          width:14%;
          margin-left:12%;
        }
      }
    }
  }
}
// MEDIA QUERIES

@media only screen and (min-width : 600px) and (max-width : 1024px)  {

.all-journals .revue:first-child, .all-journals .revue{
  width:40%;
  margin:0 5%;

    span{
      font-size:20px;
    }
    p{
      font-size:30px;
      margin-bottom:20%;
    }
  }
  section.last-journals h2{
    padding-left:0;
    font-size: 16px;
  }

  h3{
    font-size:28px;
  }
   .all-regions .metropole .liste{
    width:50%;
    margin: 20% 0;
    font-size:20px;
    float:left;
   }
  .outre-mer, .etranger{

    li{
      font-size:24px;
      padding:5%;
    }
  }
  .liste, .outre-mer{
    width:45%;
    
  li{
    font-size:24px;
    }
  }


}


@media only screen and (max-width : 600px) {
  section.last-journals h2{
    padding-left: 10%;
    font-size: 22px;

    &::before {
      content: "";
      width: 24px;
      left:0;
      height: 3px;
      background: $black;
      top: 50%;
    }
  }
  .all-journals .revue:first-child, .all-journals .revue{
  width:80%;
  margin:0 10% 30% 10%;

   }


   .all-regions .metropole .liste{
    width:100%;
    margin: 20% 0;
    float:left;
   }

  .all-regions .metropole, .outre-mer, .etranger, .liste ul li {
    font-size: 16px;
    text-align: center;
}

   .all-regions .outre-mer{
    width:100%;
    }
  
  .cartes.active > div.region-img > div.region-left{
    padding-top:20%;
    width:100%;
  }
  .cartes.active > div.region-img > div.region-right{
    margin:20% 0;
    width:100%;

    figure img{
      margin-left:15%;
    }
  }

  #cartes, #regions{
    float:left;
    margin-left:14%;
  }


  
  .cartes .container_h3{
    display:none;
  }
  .outre-mer, .etranger{

    li{
      font-size:24px;
      padding:5%;
    }
  }
  .liste, .outre-mer{
    width:100%;
    
  li{
    font-size:24px;
    }
}
  .etranger {
    width: 100%;
    margin: 10% 0 0 23%;
  }
  }