$black: #191919;
$lightgrey: #F7F7F7;
$grey: #757575;
$midgrey: #EFEFEF;
$blue: #3BC0D1;

$dinL: 'DIN Light', sans-serif;
$dinM: 'DIN Medium', sans-serif;
$dinR: 'DIN Regular', sans-serif;
$dinB: 'DIN Bold', sans-serif;

$roboto: 'Roboto', sans-serif;
$width: 85%;

.return {
  display: block;
}

h2.page-title{
  font-size:25px;
  padding-left: 100px;
  position:relative;
  font-family: $dinR;
  letter-spacing: 1px;
  margin-bottom: 1em;

  &::before {
    position: absolute;
    content: "";
    width: 74px;
    left:0;
    height: 3px;
    background: $black;
    top: 50%;
  }
}

.req-field {
  color: red;
  font-weight: bolder;
}

@import "partials/fonts";
@import "partials/reset";
@import "partials/clearfix";

@import "partials/header";
@import "partials/breadcrumb";
@import "index";
@import "partials/newsletter";
@import "revues";
@import "boutique";
@import "order";
@import "journal";

@import "connectadmin";

@import "partials/boheader";
@import "backoffice";
@import "modify";

@import "partials/footer";
