@charset "utf-8";

* {
		padding: 0;
		margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


@font-face {
	font-family: din_light;
	src: url(../fonts/Din/din_light.ttf);
}

@font-face {
	font-family: din_regular;
	src: url(../fonts/Din/din_regular.ttf);
}

@font-face {
	font-family: din_medium;
	src: url(../fonts/Din/din_medium.otf);
}

@font-face {
	font-family: din_bold;
	src: url(../fonts/Din/din_bold.ttf);
}


/* HEADER */

header {
	background-image: url(../img-content/header-img.jpg);
	width: 100%;
	height: 79vh;
}

header div.logo {
	float: left;
	margin: 3.5% 0 0 8%;
}


header>div:nth-child(2) {
	float: right;
	width: 50%;
	margin-top: 4.5%;
}

header>div:nth-child(2)>ul>a {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	margin-right: 8.5%;
	font-size: 18px;
	font-weight: bold;
	color: white;
	font-family: 'din_light', sans-serif;
	letter-spacing: 1px;
}


header>div:nth-child(2)>ul>a:nth-child(5) {
	margin-right: 4.5%;
}


.block_header {
	width: 100%;
	position: absolute;
	top: 15%;
}

.block_header div:nth-child(1){
	width: 80%;
	font-size: 30px;
	color: white;
	font-family: 'din_regular', sans-serif;
	letter-spacing: 1px;
	float: left;
	margin: 15.5% 0 0 9%;
	line-height: 6vh;
}


.block_header>button {
	padding: 13px 30px;
	text-transform: uppercase;
	font-family: 'din_regular', sans-serif;
	font-size: 18px;
	color: white;
	background-color: #3BC0D1;
	border: none;
	float: left;
	margin: 3% 0 0 9%;
	outline: none;
	cursor: pointer;
	letter-spacing: 1px;

}

.block_header .btn_feuille>img {
	margin-left: 10px;
}

.block_header .btn_command {
	padding: 10px 30px 10px 50px;
	text-transform: uppercase;
	font-family: 'din_regular', sans-serif;
	font-size: 20px;
	color: #3BC0D1;
	background-color: transparent;
	border: solid #3BC0D1 3px;
	float: left;
	margin: 3% 0 0 2%;
	outline: none;
	cursor: pointer;
}

.block_header div.rectangle {
	position: absolute;
	width: 10.5%;
	height: 9%;
	background-color: #3BC0D1;
	bottom: -120px;
	right: 0;
}