@font-face {
  font-family: 'DIN Light';
  src: url(../fonts/Din/din_light.ttf);
}
@font-face {
  font-family: 'DIN Regular';
  src: url(../fonts/Din/din_regular.ttf);
}
@font-face {
  font-family: 'DIN Medium';
  src: url(../fonts/Din/din_medium.otf);
}
@font-face {
  font-family: 'DIN Bold';
  src: url(../fonts/Din/din_bold.ttf);
}
/* line 3, ../sass/partials/_reset.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/partials/_reset.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 16px;
}

/* line 16, ../sass/partials/_reset.scss */
label {
  display: block;
}

/* line 20, ../sass/partials/_reset.scss */
ul {
  list-style: none;
}

/* line 24, ../sass/partials/_reset.scss */
input[type="text"], textarea {
  border: none;
  outline: none;
}

/* line 29, ../sass/partials/_reset.scss */
input[type="submit"] {
  border: none;
}

/* line 33, ../sass/partials/_reset.scss */
a, a:visited {
  text-decoration: none;
  color: initial;
}

/* line 37, ../sass/partials/_reset.scss */
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 10, ../sass/partials/_clearfix.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 16, ../sass/partials/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* HEADER */
/* line 3, ../sass/partials/_header.scss */
.public header {
  position: relative;
  height: 60vh;
}

/* line 9, ../sass/partials/_header.scss */
.public header .logo {
  float: left;
  margin: 3.5% 0 0 8%;
}

/* line 14, ../sass/partials/_header.scss */
.header-bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

/* line 21, ../sass/partials/_header.scss */
.public header nav {
  float: right;
  width: 50%;
  margin-top: 4.5%;
}

/* line 27, ../sass/partials/_header.scss */
.public header nav a {
  display: inline-block;
  margin-right: 8.5%;
  font-size: 18px;
  color: #fff;
  font-family: "DIN Light", sans-serif;
  letter-spacing: 1px;
}

/* line 37, ../sass/partials/_header.scss */
.public header nav a:nth-child(5) {
  margin-right: 4.5%;
}

/* line 42, ../sass/partials/_header.scss */
.block_header {
  width: 100%;
  position: absolute;
  top: 15%;
}

/* line 48, ../sass/partials/_header.scss */
.block_header div:nth-child(1) {
  width: 80%;
  font-size: 30px;
  color: white;
  font-family: "DIN Regular", sans-serif;
  letter-spacing: 1px;
  float: left;
  margin: 15.5% 0 0 9%;
  line-height: 6vh;
}

/* line 60, ../sass/partials/_header.scss */
.block_header > button {
  padding: 13px 30px;
  text-transform: uppercase;
  font-family: 'din_regular', sans-serif;
  font-size: 18px;
  color: white;
  background-color: #3BC0D1;
  border: none;
  float: left;
  margin: 3% 0 0 9%;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
}

/* line 76, ../sass/partials/_header.scss */
.block_header .btn_feuille > img {
  margin-left: 10px;
}

/* line 80, ../sass/partials/_header.scss */
.block_header .btn_command {
  padding: 10px 30px 10px 50px;
  text-transform: uppercase;
  font-family: 'din_regular', sans-serif;
  font-size: 20px;
  color: #3BC0D1;
  background-color: transparent;
  border: solid #3BC0D1 3px;
  float: left;
  margin: 3% 0 0 2%;
  outline: none;
  cursor: pointer;
}

/* line 94, ../sass/partials/_header.scss */
.block_header div.rectangle {
  position: absolute;
  width: 10.5%;
  height: 9%;
  background-color: #3BC0D1;
  bottom: -120px;
  right: 0;
}

/* FOOTER */
/* line 4, ../sass/partials/_newsletter.scss */
.newsletter {
  float: left;
  width: 100%;
  height: 30vh;
  background-color: #191919;
}

/* line 12, ../sass/partials/_newsletter.scss */
.newsletter div:nth-child(1) {
  position: relative;
  width: 10.5%;
  height: 12%;
  background-color: #3BC0D1;
  left: 0;
  top: -14px;
}

/* line 21, ../sass/partials/_newsletter.scss */
.newsletter div:nth-child(2) {
  font-size: 32px;
  color: white;
  font-family: 'din_regular', sans-serif;
  letter-spacing: 1px;
  float: left;
  line-height: 6vh;
  margin: 3% 0 0 10%;
}

/* line 32, ../sass/partials/_newsletter.scss */
.newsletter input[type="email"] {
  float: left;
  width: 35%;
  height: 8vh;
  font-size: 20px;
  padding-left: 30px;
  margin: 5% 0 0 7%;
  color: #FFFFFF;
  border: none;
  outline: none;
  background-color: #3C3C3C;
  font-family: 'Roboto', sans-serif;
}

/* line 46, ../sass/partials/_newsletter.scss */
.newsletter input::-webkit-input-placeholder {
  color: #BABABA;
}

/* line 50, ../sass/partials/_newsletter.scss */
.newsletter input[type="submit"] {
  float: left;
  width: 13%;
  height: 8vh;
  margin-top: 5%;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3BC0D1;
  font-family: 'Roboto', sans-serif;
}

/* line 2, ../sass/_revues.scss */
.breadcrumb {
  width: 85%;
  margin: 3em auto 0 auto;
  font-family: "DIN Regular", sans-serif;
}
/* line 7, ../sass/_revues.scss */
.breadcrumb .arrow {
  padding: 0 1em;
}
/* line 11, ../sass/_revues.scss */
.breadcrumb .active {
  color: #3BC0D1;
  font-family: "DIN Medium", sans-serif;
}

/* line 18, ../sass/_revues.scss */
section.last-journals {
  width: 85%;
  margin: 3em auto 6em;
}
/* line 22, ../sass/_revues.scss */
section.last-journals h2 {
  font-size: 25px;
  padding-left: 100px;
  position: relative;
  font-family: "DIN Regular", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 2em;
}
/* line 30, ../sass/_revues.scss */
section.last-journals h2::before {
  position: absolute;
  content: "";
  width: 74px;
  left: 0;
  height: 3px;
  background: #191919;
  top: 50%;
}

/* line 42, ../sass/_revues.scss */
.blue {
  color: #3BC0D1;
}

/* line 47, ../sass/_revues.scss */
.all-journals {
  float: left;
  padding-top: 2%;
  font-family: "DIN Regular", sans-serif;
  font-size: 16px;
}
/* line 3, ../sass/partials/_clearfix.scss */
.all-journals:after {
  content: "";
  display: table;
  clear: both;
}
/* line 54, ../sass/_revues.scss */
.all-journals .revue {
  width: 19%;
  float: left;
  margin-right: 4.33333%;
}
/* line 59, ../sass/_revues.scss */
.all-journals .revue img {
  width: 100%;
}
/* line 63, ../sass/_revues.scss */
.all-journals .revue span {
  padding: .5em 1.7em;
  background: #3BC0D1;
  color: #fff;
}
/* line 68, ../sass/_revues.scss */
.all-journals .revue p {
  font-family: "DIN Medium", sans-serif;
  font-size: 1.2em;
  margin-top: 1.6em;
}
/* line 75, ../sass/_revues.scss */
.all-journals .revue:first-child {
  width: 30%;
  float: left;
}
/* line 79, ../sass/_revues.scss */
.all-journals .revue:first-child img {
  width: 100%;
}
/* line 84, ../sass/_revues.scss */
.all-journals .revue:last-child {
  margin-right: 0;
}

/* line 90, ../sass/_revues.scss */
section.region {
  float: left;
  width: 100%;
  background: #F7F7F7;
  padding: 4em 0;
}
/* line 97, ../sass/_revues.scss */
section.region .inner-region {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
}
/* line 102, ../sass/_revues.scss */
section.region .inner-region .head-region {
  width: 85%;
  margin: 0 auto;
}
/* line 106, ../sass/_revues.scss */
section.region .inner-region .head-region h2 {
  font-size: 30px;
  font-family: "DIN Regular", sans-serif;
  margin-bottom: 2em;
}
/* line 112, ../sass/_revues.scss */
section.region .inner-region .head-region span {
  float: right;
  display: block;
  position: relative;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "DIN Regular", sans-serif;
  cursor: pointer;
}
/* line 121, ../sass/_revues.scss */
section.region .inner-region .head-region span::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  left: -40%;
  background: #191919;
  top: 50%;
}

/* line 136, ../sass/_revues.scss */
.all-regions {
  background: #fff;
  width: 85%;
  padding: 6em 7em;
  margin: 0 auto;
  line-height: 1.8;
}
/* line 3, ../sass/partials/_clearfix.scss */
.all-regions:after {
  content: "";
  display: table;
  clear: both;
}
/* line 144, ../sass/_revues.scss */
.all-regions .metropole {
  display: block;
  margin-bottom: 8em;
  font-family: "Roboto", sans-serif;
}
/* line 3, ../sass/partials/_clearfix.scss */
.all-regions .metropole:after {
  content: "";
  display: table;
  clear: both;
}
/* line 150, ../sass/_revues.scss */
.all-regions .metropole .liste {
  width: 30%;
  float: left;
}
/* line 156, ../sass/_revues.scss */
.all-regions h3 {
  font-size: 26px;
}
/* line 160, ../sass/_revues.scss */
.all-regions .outre-mer {
  float: left;
  width: 50%;
}
/* line 165, ../sass/_revues.scss */
.all-regions .etranger {
  float: left;
  width: 50%;
}

/***** 	 BOUTIQUE 	*****/
/* line 3, ../sass/_boutique.scss */
body .fil_arianne a, span {
  display: inline-block;
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
}

/* line 12, ../sass/_boutique.scss */
body .fil_arianne span {
  padding: 0 2%;
}

/* line 16, ../sass/_boutique.scss */
body .fil_arianne a:nth-child(3) {
  color: #3BC0D1;
}

/* line 20, ../sass/_boutique.scss */
.container_table div {
  margin-top: 8%;
}

/* line 24, ../sass/_boutique.scss */
.container_table div h1 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 1%;
}

/* line 33, ../sass/_boutique.scss */
.container_table div p {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 3%;
}

/* line 42, ../sass/_boutique.scss */
.container_table div:nth-child(1) p::after {
  content: " commande";
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 1%;
}

/* line 52, ../sass/_boutique.scss */
.container_table div:nth-child(2) p::after {
  content: " abonnement";
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 1%;
}

/* line 63, ../sass/_boutique.scss */
.container_table div img {
  width: 100%;
}

/* line 67, ../sass/_boutique.scss */
.container_button {
  width: 100%;
  margin-top: 13%;
}

/* line 72, ../sass/_boutique.scss */
.container_button button:nth-child(1) {
  float: left;
  padding: 5% 19.8%;
  background-color: #3BC0D1;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* line 85, ../sass/_boutique.scss */
.container_button button:nth-child(2) {
  float: right;
  padding: 5% 20.5%;
  background-color: #F7F7F7;
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

/***** 	 BOUTIQUE STEP 1	*****/
/* line 103, ../sass/_boutique.scss */
.container_signin {
  float: left;
  width: 100%;
  background-color: #F7F7F7;
}

/* line 109, ../sass/_boutique.scss */
.container_signin .container_steps {
  display: inline-block;
  float: left;
  width: 30%;
  background-color: #3BC0D1;
  padding-bottom: 10%;
}

/* line 117, ../sass/_boutique.scss */
.container_signin .container_steps p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 150px;
  text-align: center;
}

/* line 126, ../sass/_boutique.scss */
.container_signin .container_steps div {
  border-bottom: solid white 10px;
  margin-left: 35%;
  width: 30%;
}

/* line 132, ../sass/_boutique.scss */
.container_signin .container_steps p:nth-child(1) {
  padding-top: 22%;
}

/* line 137, ../sass/_boutique.scss */
.container_signin .container_fields {
  width: 60%;
  float: left;
}

/* line 143, ../sass/_boutique.scss */
.container_signin .container_fields p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* line 151, ../sass/_boutique.scss */
.left_fields {
  float: left;
  margin: 16% 5% 0 22%;
}

/* line 156, ../sass/_boutique.scss */
.left_fields p {
  padding-top: 15%;
}

/* line 160, ../sass/_boutique.scss */
.right_fields {
  float: left;
  margin-top: 16%;
}

/* line 165, ../sass/_boutique.scss */
.right_fields p {
  padding-top: 15%;
}

/* line 169, ../sass/_boutique.scss */
.container_fields input[type="text"], input[type="tel"], input[type="mail"] {
  background-color: #EEEEEE;
  padding: 10px 50px 10px 20px;
  border: none;
  outline: none;
  font-size: 15px;
}

/* line 177, ../sass/_boutique.scss */
.container_btn_fields {
  float: right;
}

/* line 181, ../sass/_boutique.scss */
.container_btn_fields button {
  float: right;
  color: white;
  background-color: #3BC0D1;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 3% 10%;
  outline: none;
  border: none;
  cursor: pointer;
}

/* line 194, ../sass/_boutique.scss */
.container_btn_previous {
  float: left;
  margin-top: 10%;
}

/* line 199, ../sass/_boutique.scss */
.container_btn_previous button {
  float: left;
  color: white;
  background-color: #191919;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 3% 10%;
  outline: none;
  border: none;
  cursor: pointer;
}

/* line 3, ../sass/_backoffice.scss */
#bo header {
  width: 85%;
  margin: 0 auto;
  padding-top: 3em;
}
/* line 3, ../sass/partials/_clearfix.scss */
#bo header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../sass/_backoffice.scss */
#bo header .links {
  float: right;
}
/* line 13, ../sass/_backoffice.scss */
#bo header span {
  padding: .8em 1.4em;
  border: 3px solid #191919;
  font-family: "DIN Medium", sans-serif;
}
/* line 19, ../sass/_backoffice.scss */
#bo header a {
  padding-right: 2em;
}
/* line 25, ../sass/_backoffice.scss */
#bo main h2 {
  text-transform: uppercase;
  position: relative;
  padding-left: 60px;
  font-family: "DIN Medium", sans-serif;
  margin-bottom: 2em;
}
/* line 32, ../sass/_backoffice.scss */
#bo main h2::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background: #191919;
  left: 0;
  top: 35%;
}
/* line 44, ../sass/_backoffice.scss */
#bo main section {
  margin-bottom: 2em;
}

/* line 50, ../sass/_backoffice.scss */
#bo .view-journals {
  width: 85%;
  margin: 5em auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
#bo .view-journals .head-view-journals:after {
  content: "";
  display: table;
  clear: both;
}
/* line 58, ../sass/_backoffice.scss */
#bo .view-journals h2 {
  float: left;
  padding-bottom: 1em;
}
/* line 63, ../sass/_backoffice.scss */
#bo .view-journals .filters {
  float: right;
  text-transform: uppercase;
  color: #757575;
}
/* line 69, ../sass/_backoffice.scss */
#bo .view-journals span {
  padding: .4em 1em;
  background: #EDEDED;
  margin-left: .8em;
}
/* line 74, ../sass/_backoffice.scss */
#bo .view-journals span.active {
  background: #3BC0D1;
  color: #fff;
}
/* line 80, ../sass/_backoffice.scss */
#bo .view-journals table {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
/* line 85, ../sass/_backoffice.scss */
#bo .view-journals table thead {
  background: #3BC0D1;
  color: #fff;
}
/* line 88, ../sass/_backoffice.scss */
#bo .view-journals table thead td {
  padding: .6em 0;
}
/* line 94, ../sass/_backoffice.scss */
#bo .view-journals table tbody tr {
  background: #EFEFEF;
}
/* line 96, ../sass/_backoffice.scss */
#bo .view-journals table tbody tr:nth-child(2n+1) {
  background: #F7F7F7;
}
/* line 99, ../sass/_backoffice.scss */
#bo .view-journals table tbody tr td {
  padding: .5em 0;
}

/* line 107, ../sass/_backoffice.scss */
#bo .add-journal {
  background: #F7F7F7;
  padding: 3em 0;
}
/* line 111, ../sass/_backoffice.scss */
#bo .add-journal .head-add-journal {
  text-align: center;
  margin: 1em 0;
}
/* line 114, ../sass/_backoffice.scss */
#bo .add-journal .head-add-journal span {
  font-family: "DIN Medium", sans-serif;
}
/* line 119, ../sass/_backoffice.scss */
#bo .add-journal .inner-add-journal {
  width: 85%;
  margin: 0 auto;
}
/* line 124, ../sass/_backoffice.scss */
#bo .add-journal h2 {
  margin: 6em 0 3em 0;
}
/* line 128, ../sass/_backoffice.scss */
#bo .add-journal form div {
  margin-bottom: 2em;
}
/* line 131, ../sass/_backoffice.scss */
#bo .add-journal form div.left-side, #bo .add-journal form div.right-side {
  width: 45%;
}
/* line 133, ../sass/_backoffice.scss */
#bo .add-journal form div.left-side input[type="text"], #bo .add-journal form div.left-side textarea, #bo .add-journal form div.right-side input[type="text"], #bo .add-journal form div.right-side textarea {
  background: rgba(216, 216, 216, 0.4);
  padding: .5em 1em;
  width: 100%;
}
/* line 138, ../sass/_backoffice.scss */
#bo .add-journal form div.left-side label, #bo .add-journal form div.right-side label {
  font-weight: bolder;
  margin-bottom: .4em;
}
/* line 144, ../sass/_backoffice.scss */
#bo .add-journal form div[class*="-side"] {
  display: inline-block;
}
/* line 148, ../sass/_backoffice.scss */
#bo .add-journal form div.right-side {
  margin-top: 2em;
  margin-left: 9%;
}
/* line 153, ../sass/_backoffice.scss */
#bo .add-journal form div.actions {
  margin-top: 3em;
  text-align: right;
}
/* line 156, ../sass/_backoffice.scss */
#bo .add-journal form div.actions a {
  text-transform: uppercase;
  color: #3BC0D1;
  padding: .5em 1.8em;
  border: 2px solid #3BC0D1;
  cursor: pointer;
  margin-right: 1.5em;
}
/* line 165, ../sass/_backoffice.scss */
#bo .add-journal form div.actions input[type="submit"] {
  background: #3BC0D1;
  color: #fff;
  text-transform: uppercase;
  padding: .5em 1.8em;
  border: 2px solid #3BC0D1;
  cursor: pointer;
}

/* line 1, ../sass/partials/_footer.scss */
.pouet {
  height: 13vh;
}

/* line 5, ../sass/partials/_footer.scss */
footer {
  background-color: white;
}

/* line 9, ../sass/partials/_footer.scss */
footer div:nth-child(1) {
  float: left;
  list-style: none;
  font-family: 'din_regular', sans-serif;
  margin: 10%;
}

/* line 16, ../sass/partials/_footer.scss */
footer div:nth-child(2) {
  float: right;
  list-style: none;
  font-family: 'din_regular', sans-serif;
  margin: 10%;
  text-align: right;
}

/* line 24, ../sass/partials/_footer.scss */
footer div h3 {
  margin-bottom: 15%;
  font-size: 22px;
}

/* line 29, ../sass/partials/_footer.scss */
footer div a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: block;
  line-height: 30px;
}
