.return {
  display: block; }

@font-face {
  font-family: 'DIN Light';
  src: url(../fonts/Din/din_light.ttf); }
@font-face {
  font-family: 'DIN Regular';
  src: url(../fonts/Din/din_regular.ttf); }
@font-face {
  font-family: 'DIN Medium';
  src: url(../fonts/Din/din_medium.otf); }
@font-face {
  font-family: 'DIN Bold';
  src: url(../fonts/Din/din_bold.ttf); }
* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 16px; }

label {
  display: block; }

ul {
  list-style: none; }

input[type="text"], textarea, button {
  border: none;
  outline: none; }

input[type="submit"] {
  border: none; }

a, a:visited {
  text-decoration: none;
  color: initial; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

header {
  position: relative;
  height: 55vh; }
  @media screen and (max-width: 1124px) {
    header {
      height: 40vh; } }
  @media screen and (max-width: 715px) {
    header {
      height: 30vh; } }

header .logo {
  float: left;
  margin: 3.5% 0 0 8%; }

.header-bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%; }

header nav {
  float: right;
  width: 47%;
  margin-top: 4.5%; }

header .nav_barre ul {
  width: 100%;
  margin-left: 15%; }

header .nav_barre ul li {
  display: inline-block;
  margin-right: 5.5%;
  font-size: 18px;
  font-family: "DIN Light", sans-serif;
  letter-spacing: 1px; }

header .nav_barre ul li a {
  color: white; }

.block_header {
  width: 100%;
  position: absolute;
  top: 15%; }

.block_header div:nth-child(1) p {
  width: 80%;
  font-size: 30px;
  color: white;
  font-family: "DIN Regular", sans-serif;
  letter-spacing: 1px;
  float: left;
  margin: 7.8% 0 0 9%;
  line-height: 6vh; }

.block_header > button {
  padding: 13px 30px;
  text-transform: uppercase;
  font-family: 'din_regular', sans-serif;
  font-size: 18px;
  color: white;
  background-color: #3BC0D1;
  border: none;
  float: left;
  margin: 3% 0 0 9%;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px; }

.block_header .btn_feuille > img {
  margin-left: 10px; }

.block_header .btn_command {
  padding: 10px 30px 10px 50px;
  text-transform: uppercase;
  font-family: 'din_regular', sans-serif;
  font-size: 20px;
  color: #3BC0D1;
  background-color: transparent;
  border: solid #3BC0D1 3px;
  float: left;
  margin: 3% 0 0 2%;
  outline: none;
  cursor: pointer; }

.block_header div.rectangle {
  position: absolute;
  width: 10.5%;
  height: 9%;
  background-color: #3BC0D1;
  bottom: -120px;
  right: 0; }

.navPhone {
  display: none;
  position: absolute; }

input[type="checkbox"] {
  position: absolute;
  left: -50px;
  top: 0; }

.navPhone {
  display: none;
  position: fixed; }

input[type="checkbox"] {
  position: absolute;
  left: -50px;
  top: 0; }

@media only screen and (max-width: 1200px) {
  header .nav_barre {
    margin-right: 5%; } }
@media only screen and (max-width: 1024px) {
  header .nav_barre {
    display: none; }

  header h1.logo a img {
    width: 40%; }

  header h1.logo {
    text-align: center;
    width: 80%; }

  .navPhone {
    display: block;
    position: fixed;
    z-index: 2; }

  .navPhone .mainNav .choice {
    display: inline-block;
    margin: 2.5% 2% 0 0; }

  .navPhone .mainNav .choice:nth-child(1) {
    margin-left: 20px; }

  .navPhone .mainNav .choice:nth-child(2) {
    margin-left: 10px; }

  .navPhone .mainNav .choice {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 40px;
    padding: 4px; }

  .navPhone .mainNav .choice span {
    width: 80%;
    background-color: white;
    height: 3px;
    position: absolute;
    z-index: 99; }

  .navPhone .mainNav:nth-child(1) .choice span:nth-child(2) {
    top: 0px; }

  .navPhone .mainNav .choice span:nth-child(3) {
    top: 0 px; }

  .contentMenuPhone {
    z-index: 98;
    width: 400px;
    background-color: white;
    height: 120vh;
    position: fixed;
    top: -50px;
    right: -400px;
    transition: 0.6s; }

  .navPhone ul {
    list-style: none; }

  .navPhone ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none; }

  .contentMenuPhone ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; }

  .contentMenuPhone ul li {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 7vh; }

  .contentMenuPhone ul li:nth-child(1) {
    margin-top: 20vh; }

  .choice {
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100; }

  input[type="checkbox"]:checked + .navPhone .contentMenuPhone {
    position: fixed;
    right: 0; }

  input[type="checkbox"]:checked + .navPhone .contentMenuPhone {
    position: fixed;
    right: 0; }

  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(2) {
    display: none;
    z-index: 3; }

  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(1) {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    transition: 0.6s;
    z-index: 20;
    background-color: black; }

  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(3) {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    z-index: 20;
    transition: 0.6s;
    background-color: black; }

  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(2) {
    z-index: 5;
    top: 20px; }

  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(1) {
    background-color: white;
    transition: 0.6s;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    top: 0px;
    z-index: 20; }

  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(3) {
    background-color: white;
    transition: 0.6s;
    top: 10px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    z-index: 20; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  header .nav_barre {
    display: none; }

  header h1.logo a img {
    width: 40%; }

  header h1.logo {
    text-align: center;
    width: 80%; }

  .navPhone {
    display: block;
    position: fixed;
    z-index: 2; }

  .navPhone .mainNav .choice {
    display: inline-block;
    margin: 2% 2% 0 0; }

  .navPhone .mainNav .choice:nth-child(1) {
    margin-left: 20px; }

  .navPhone .mainNav .choice:nth-child(2) {
    margin-left: 10px; }

  .navPhone .mainNav .choice {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 40px;
    padding: 4px; }

  .navPhone .mainNav .choice span {
    width: 50%;
    background-color: white;
    height: 2px;
    position: absolute;
    z-index: 99;
    display: block; }

  .navPhone .mainNav:nth-child(1) .choice span:nth-child(2) {
    top: 10px; }

  .navPhone .mainNav .choice span:nth-child(3) {
    top: 16px; }

  .contentMenuPhone {
    z-index: 98;
    width: 400px;
    background-color: white;
    height: 120vh;
    position: fixed;
    top: -50px;
    right: -400px;
    transition: 0.6s; }

  .navPhone ul {
    list-style: none; }

  .navPhone ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none; }

  .contentMenuPhone ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; }

  .contentMenuPhone ul li {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 7vh; }

  .contentMenuPhone ul li:nth-child(1) {
    margin-top: 20vh; }

  .choice {
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100; }

  input[type="checkbox"]:checked + .navPhone .contentMenuPhone {
    position: fixed;
    right: 0; }

  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(2) {
    display: none;
    z-index: 3; }

  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(1) {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    transition: 0.6s;
    z-index: 20;
    background-color: black; }

  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(3) {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    z-index: 20;
    transition: 0.6s;
    background-color: black; }

  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(2) {
    z-index: 5;
    top: 10px; }

  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(1) {
    background-color: white;
    transition: 0.6s;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    top: 0px;
    z-index: 20; }

  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(3) {
    background-color: white;
    transition: 0.6s;
    top: 5px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    z-index: 20; } }
#index main {
  max-width: 85%;
  margin: 0 auto; }

body .actu_block {
  margin-top: 25%; }

body .actu_block div:nth-child(1) {
  border-bottom: solid black 5px;
  width: 5%;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 20px; }

body .actu_block > h1 {
  display: inline-block;
  font-size: 30px;
  color: black;
  font-family: 'din_regular', sans-serif;
  letter-spacing: 1px; }

body .actu_block .article_block {
  margin-top: 4%; }

body .actu_block .article_block article {
  float: left;
  width: 39%; }

body .actu_block .article_block article:nth-child(2) {
  float: right;
  width: 57%; }

body .actu_block .article_block article:nth-child(1) figure figcaption {
  color: #3BC0D1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 7%;
  letter-spacing: 1px; }

body .actu_block .article_block article:nth-child(2) figure figcaption {
  color: #3BC0D1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 4%;
  letter-spacing: 1px; }

body .actu_block .article_block article h2 {
  font-size: 25px;
  font-family: 'din_regular', sans-serif;
  color: #2D2D2D;
  letter-spacing: 1px;
  margin: 3% 0; }

body .actu_block .article_block article p {
  width: 100%;
  color: #191919;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 3vh;
  letter-spacing: 1px; }

body .actu_block .article_block article a {
  text-decoration: none;
  color: #3BC0D1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 2%; }

body section.old_articles {
  width: 100%;
  margin-top: 10%; }

body section.old_articles article {
  width: 33.1%;
  float: left; }

body .old_articles article figure figcaption {
  color: #3BC0D1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 12%;
  letter-spacing: 1px; }

body .old_articles article h2 {
  font-size: 20px;
  font-family: 'din_regular', sans-serif;
  color: #2D2D2D;
  letter-spacing: 1px;
  margin: 3% 0; }

body .old_articles article p {
  width: 90%;
  padding-top: 4%;
  color: #191919;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 3vh;
  letter-spacing: 1px; }

body .old_articles article a {
  text-decoration: none;
  color: #3BC0D1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 2%; }

.scrolling_bloc {
  width: 100%;
  margin-top: 10%; }

div.container_caption {
  width: 100%;
  height: 100vh; }

div.container_caption > div:first-child {
  width: 100%;
  background-color: #F6F6F6;
  height: 50vh;
  text-align: center; }

div.container_caption > div:first-child h1 {
  color: #3BC0D1;
  font-size: 240px;
  opacity: .26;
  font-family: 'din_regular', sans-serif;
  font-weight: 400; }

div.container_caption > div:first-child p {
  color: #3BC0D1;
  font-size: 35px;
  font-family: 'din_regular', sans-serif;
  font-weight: 400;
  position: relative;
  bottom: 35%; }

div.container_scrolling {
  background-color: white;
  width: 50%;
  height: 60vh;
  margin: 0 auto;
  position: relative;
  bottom: 15%;
  -moz-box-shadow: 0px 0px 10px 1px #F7F7F7;
  -webkit-box-shadow: 0px 0px 10px 1px #F7F7F7;
  -o-box-shadow: 0px 0px 10px 1px #F7F7F7;
  box-shadow: 0px 0px 10px 1px #F7F7F7;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#F7F7F7, Direction=NaN, Strength=10); }

div.container_scrolling .content_scrolling_left {
  float: left;
  width: 49%;
  margin-top: 5%; }

div.container_scrolling .content_scrolling_left p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 8% 0 0 10%; }

div.container_scrolling .content_scrolling_right {
  float: right;
  width: 48%;
  margin-top: 10%; }

div.container_scrolling .content_scrolling_right p {
  text-align: right;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 20% 10% 0 0; }

.newsletter {
  position: relative;
  width: 100%;
  height: 30vh;
  background: #191919;
  margin-top: 6em;
  padding-top: 5em; }
  .newsletter .inner-newsletter {
    width: 85%;
    margin: 0 auto; }
    .newsletter .inner-newsletter:after {
      content: "";
      display: table;
      clear: both; }

.newsletter div.blue {
  position: absolute;
  width: 10.5%;
  height: 12%;
  background: #3BC0D1;
  left: 0;
  top: -6px; }

.newsletter .slogan {
  width: 39%;
  display: inline-block;
  font-size: 1.4em;
  color: #fff;
  font-family: "DIN Regular", sans-serif;
  letter-spacing: 1px;
  line-height: 1.4; }
  .newsletter .slogan span {
    color: #fff;
    font-size: 1.4em; }

div.subscribe {
  width: 60%;
  margin-top: .8em;
  display: inline-block; }
  div.subscribe form:after {
    content: "";
    display: table;
    clear: both; }
  div.subscribe input[type="email"] {
    float: left;
    width: 70%;
    height: 7vh;
    font-size: 18px;
    padding-left: 30px;
    color: #FFF;
    border: none;
    background: #3C3C3C;
    font-family: "Roboto", sans-serif; }
  div.subscribe input::-webkit-input-placeholder {
    color: #BABABA; }
  div.subscribe input[type="submit"] {
    width: 30%;
    float: left;
    height: 7vh;
    font-size: 20px;
    color: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #3BC0D1;
    font-family: "Roboto", sans-serif; }

.breadcrumb {
  width: 85%;
  margin: 3em auto 0 auto;
  font-family: "DIN Regular", sans-serif; }
  .breadcrumb .arrow {
    padding: 0 1em; }
  .breadcrumb .active {
    color: #3BC0D1;
    font-family: "DIN Medium", sans-serif; }

section.last-journals {
  width: 85%;
  margin: 10em auto 6em; }
  section.last-journals h2 {
    font-size: 25px;
    padding-left: 100px;
    position: relative;
    font-family: "DIN Regular", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 2em; }
    section.last-journals h2::before {
      position: absolute;
      content: "";
      width: 74px;
      left: 0;
      height: 3px;
      background: #191919;
      top: 50%; }

.blue {
  color: #3BC0D1; }

.all-journals {
  float: left;
  padding-top: 2%;
  font-family: "DIN Regular", sans-serif;
  font-size: 16px; }
  .all-journals:after {
    content: "";
    display: table;
    clear: both; }
  .all-journals .revue {
    width: 19%;
    float: left;
    margin-right: 4.33333%; }
    .all-journals .revue img {
      width: 100%; }
    .all-journals .revue span {
      padding: .5em 1.7em;
      background: #3BC0D1;
      color: #fff; }
    .all-journals .revue p {
      font-family: "DIN Medium", sans-serif;
      font-size: 1.2em;
      margin-top: 1.6em; }
  .all-journals .revue:first-child {
    width: 30%;
    float: left; }
    .all-journals .revue:first-child img {
      width: 100%; }
  .all-journals .revue:last-child {
    margin-right: 0; }

section.region {
  float: left;
  width: 100%;
  background: #F7F7F7;
  padding: 4em 0; }
  section.region .inner-region {
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto; }
    section.region .inner-region .head-region {
      width: 85%;
      margin: 0 auto; }
      section.region .inner-region .head-region:after {
        content: "";
        display: table;
        clear: both; }
      section.region .inner-region .head-region h2 {
        float: left;
        font-size: 30px;
        font-family: "DIN Regular", sans-serif; }
        @media screen and (max-width: 780px) {
          section.region .inner-region .head-region h2 {
            float: none;
            width: 100%; } }
      section.region .inner-region .head-region span {
        float: right;
        display: block;
        position: relative;
        font-size: 20px;
        font-family: "DIN Regular", sans-serif;
        cursor: pointer;
        margin-bottom: 2em; }
        section.region .inner-region .head-region span::before {
          position: absolute;
          content: '';
          width: 30px;
          height: 3px;
          left: -40%;
          background: #191919;
          top: 50%; }
        @media screen and (max-width: 780px) {
          section.region .inner-region .head-region span {
            float: none;
            width: 100%; } }

.all-regions {
  background: #fff;
  width: 85%;
  padding: 6em 7em;
  margin: 0 auto;
  line-height: 1.8; }
  .all-regions:after {
    content: "";
    display: table;
    clear: both; }
  .all-regions .metropole {
    display: block;
    margin-bottom: 8em;
    font-family: "Roboto", sans-serif; }
    .all-regions .metropole:after {
      content: "";
      display: table;
      clear: both; }
    .all-regions .metropole .liste {
      width: 30%;
      float: left; }
      @media screen and (max-width: 780px) {
        .all-regions .metropole .liste {
          float: none;
          width: 100%; } }
    @media screen and (max-width: 780px) {
      .all-regions .metropole {
        margin-bottom: 3em; } }
  .all-regions h3 {
    font-size: 26px; }
  .all-regions .outre-mer {
    float: left;
    width: 50%; }
    @media screen and (max-width: 780px) {
      .all-regions .outre-mer {
        float: none;
        width: 100%;
        margin-bottom: 2em; } }
  .all-regions .etranger {
    float: left;
    width: 50%; }
    @media screen and (max-width: 780px) {
      .all-regions .etranger {
        float: none;
        width: 100%; } }

.cartes {
  width: 85%;
  margin: 0 auto;
  background: white; }
  .cartes:after {
    content: "";
    display: table;
    clear: both; }
  .cartes .container_h3 {
    width: 100%;
    padding-top: 5%; }
  .cartes h3 {
    margin: 0 auto;
    font-size: 30px;
    font-family: "DIN Regular", sans-serif;
    text-align: center; }
  .cartes span {
    margin: 0 44%;
    font-family: "DIN Regular", sans-serif;
    font-size: 26px; }
  .cartes .region-img {
    margin-top: 6%; }
    .cartes .region-img .region-left {
      width: 50%;
      float: left;
      text-align: center; }
      .cartes .region-img .region-left img {
        width: 60%; }
    .cartes .region-img .region-right {
      width: 40%;
      float: right; }
      .cartes .region-img .region-right figure {
        width: 100%;
        margin-top: 4%; }
        .cartes .region-img .region-right figure img {
          width: 14%;
          margin-left: 12%; }

#boutique main {
  width: 85%;
  margin: 0 auto; }

body .breadcrumb {
  width: 100%; }
  body .breadcrumb a {
    display: inline-block;
    color: #191919;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 5em; }
    body .breadcrumb a.active {
      color: #3BC0D1; }
  body .breadcrumb span {
    padding: 0 2%; }

.container_table div {
  margin-top: 8%; }

.container_table div h1 {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 1%; }

.container_table div p {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 3%; }

.container_table div:nth-child(1) p::after {
  content: " commande";
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 1%; }

.container_table div:nth-child(2) p::after {
  content: " abonnement";
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 1%; }

.container_table div img {
  width: 100%; }

.container_button {
  width: 100%;
  margin-top: 13%; }

.container_button button:nth-child(1) {
  float: left;
  padding: 5% 19.8%;
  background-color: #3BC0D1;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px; }

.container_button button:nth-child(2) {
  float: right;
  padding: 5% 20.5%;
  background-color: #F7F7F7;
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer; }

.container_signin {
  float: left;
  width: 100%;
  background: #F7F7F7; }

.container_signin .container_steps {
  display: inline-block;
  float: left;
  width: 30%;
  background-color: #3BC0D1;
  padding-bottom: 10%; }

.container_signin .container_steps p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 150px;
  text-align: center; }

.container_signin .container_steps div {
  border-bottom: solid #fff 10px;
  margin-left: 35%;
  width: 30%; }

.container_signin .container_steps p:nth-child(1) {
  padding-top: 22%; }

.container_signin .container_fields {
  width: 60%;
  float: left; }

.container_signin .container_fields p {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px; }

.left_fields {
  float: left;
  margin: 16% 5% 0 22%; }

.left_fields p {
  padding-top: 15%; }

.right_fields {
  float: left;
  margin-top: 16%; }

.right_fields p {
  padding-top: 15%; }

.container_fields input[type="text"], input[type="tel"], input[type="mail"] {
  background-color: #EEE;
  padding: 10px 50px 10px 20px;
  border: none;
  outline: none;
  font-size: 15px; }

.container_btn_fields {
  float: right; }

.container_btn_fields button {
  float: right;
  color: #fff;
  background-color: #3BC0D1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 3% 10%; }

.container_btn_previous {
  float: left;
  margin-top: 10%; }

.container_btn_previous button {
  float: left;
  color: #fff;
  background-color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 3% 10%; }

#bo header {
  width: 85%;
  margin: 0 auto;
  padding-top: 3em; }
  #bo header:after {
    content: "";
    display: table;
    clear: both; }
  #bo header .links {
    float: right; }
  #bo header span {
    padding: .8em 1.4em;
    border: 3px solid #191919;
    font-family: "DIN Medium", sans-serif; }
  #bo header a {
    padding-right: 2em; }
#bo main h2 {
  text-transform: uppercase;
  position: relative;
  padding-left: 60px;
  font-family: "DIN Medium", sans-serif;
  margin-bottom: 2em; }
  #bo main h2::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background: #191919;
    left: 0;
    top: 35%; }

#bo .view-journals {
  width: 85%;
  margin: 5em auto; }
  #bo .view-journals .head-view-journals:after {
    content: "";
    display: table;
    clear: both; }
  #bo .view-journals h2 {
    float: left;
    padding-bottom: 1em; }
  #bo .view-journals .filters {
    float: right;
    text-transform: uppercase;
    color: #757575; }
  #bo .view-journals span {
    padding: .4em 1em;
    background: #EDEDED;
    margin-left: .8em; }
    #bo .view-journals span.active {
      background: #3BC0D1;
      color: #fff; }
  #bo .view-journals table {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: none; }
    #bo .view-journals table thead {
      background: #3BC0D1;
      color: #fff; }
      #bo .view-journals table thead td {
        padding: .6em 0; }
    #bo .view-journals table tbody tr {
      background: #EFEFEF; }
      #bo .view-journals table tbody tr:nth-child(2n+1) {
        background: #F7F7F7; }
      #bo .view-journals table tbody tr td {
        padding: .5em 0; }

#bo .add-journal {
  background: #F7F7F7;
  padding: 3em 0; }
  #bo .add-journal .head-add-journal {
    text-align: center;
    margin: 1em 0; }
    #bo .add-journal .head-add-journal span {
      font-family: "DIN Medium", sans-serif; }
  #bo .add-journal .inner-add-journal {
    width: 85%;
    margin: 0 auto; }
  #bo .add-journal h2 {
    margin: 6em 0 3em 0; }
  #bo .add-journal form div {
    margin-bottom: 2em; }
    #bo .add-journal form div.left-side, #bo .add-journal form div.right-side {
      width: 45%; }
      #bo .add-journal form div.left-side input[type="text"], #bo .add-journal form div.left-side textarea, #bo .add-journal form div.right-side input[type="text"], #bo .add-journal form div.right-side textarea {
        background: rgba(216, 216, 216, 0.4);
        padding: .5em 1em;
        width: 100%; }
      #bo .add-journal form div.left-side label, #bo .add-journal form div.right-side label {
        font-weight: bolder;
        margin-bottom: .4em; }
    #bo .add-journal form div[class*="-side"] {
      display: inline-block; }
    #bo .add-journal form div.right-side {
      margin-top: 2em;
      margin-left: 9%; }
    #bo .add-journal form div.actions {
      margin-top: 3em;
      text-align: right; }
      #bo .add-journal form div.actions a {
        text-transform: uppercase;
        color: #3BC0D1;
        padding: .5em 1.8em;
        border: 2px solid #3BC0D1;
        cursor: pointer;
        margin-right: 1.5em; }
      #bo .add-journal form div.actions input[type="submit"] {
        background: #3BC0D1;
        color: #fff;
        text-transform: uppercase;
        padding: .5em 1.8em;
        border: 2px solid #3BC0D1;
        cursor: pointer; }

/*----------------------MEDIAQUERIES----------------*/
@media screen and (max-width: 735px) {
  #bo {
    font-size: 20px; }

  #bo header {
    width: 100%;
    padding: 50px; }

  #bo header .span {
    margin-top: 40px; }

  .head-view-journals {
    margin-bottom: 26px; }

  #bo > header > div > span {
    display: block;
    float: left; }

  #bo form {
    display: block; }

  #bo > main > section.add-journal > div > h2 {
    width: 100%;
    padding: 0; }

  #bo h2::before {
    display: none; }

  #bo h2 {
    text-align: center; }

  #bo .add-journal form div.left-side,
  #bo .add-journal form div.right-side {
    width: 100%; }

  #bo .add-journal form div.right-side {
    margin: 0; } }
@media screen and (max-width: 620px) {
  #bo > header > div > span {
    margin-top: 30px; } }
footer {
  padding: 4em 0; }
  footer .inner-footer {
    width: 85%;
    margin: 0 auto;
    padding: 2em 0; }
    footer .inner-footer:after {
      content: "";
      display: table;
      clear: both; }
  footer h3 {
    margin-bottom: 15%;
    font-size: 20px; }
  footer a {
    display: block;
    color: #191919;
    font-size: 18px;
    line-height: 30px; }

footer .navigate {
  float: left;
  font-family: "DIN Regular", sans-serif; }

footer .boutique {
  float: right;
  font-family: "DIN Regular", sans-serif;
  text-align: right; }

/*# sourceMappingURL=screen.css.map */
