@font-face {
  font-family: 'DIN Light';
  src: url(../fonts/Din/din_light.ttf); }
@font-face {
  font-family: 'DIN Regular';
  src: url(../fonts/Din/din_regular.ttf); }
@font-face {
  font-family: 'DIN Medium';
  src: url(../fonts/Din/din_medium.otf); }
@font-face {
  font-family: 'DIN Bold';
  src: url(../fonts/Din/din_bold.ttf); }
* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 16px; }

label {
  display: block; }

ul {
  list-style: none; }

input[type="text"], textarea {
  border: none;
  outline: none; }

input[type="submit"] {
  border: none; }

a, a:visited {
  text-decoration: none;
  color: initial; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* HEADER */
#public header {
  background-image: url(../img-content/header-img.jpg);
  width: 100%;
  height: 79vh; }

#public header div.logo {
  float: left;
  margin: 3.5% 0 0 8%; }

#public header > div:nth-child(2) {
  float: right;
  width: 50%;
  margin-top: 4.5%; }

#public header > div:nth-child(2) > ul > a {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin-right: 8.5%;
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: 'din_light', sans-serif;
  letter-spacing: 1px; }

#public header > div:nth-child(2) > ul > a:nth-child(5) {
  margin-right: 4.5%; }

.block_header {
  width: 100%;
  position: absolute;
  top: 15%; }

.block_header div:nth-child(1) {
  width: 80%;
  font-size: 30px;
  color: white;
  font-family: 'din_regular', sans-serif;
  letter-spacing: 1px;
  float: left;
  margin: 15.5% 0 0 9%;
  line-height: 6vh; }

.block_header > button {
  padding: 13px 30px;
  text-transform: uppercase;
  font-family: 'din_regular', sans-serif;
  font-size: 18px;
  color: white;
  background-color: #3BC0D1;
  border: none;
  float: left;
  margin: 3% 0 0 9%;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px; }

.block_header .btn_feuille > img {
  margin-left: 10px; }

.block_header .btn_command {
  padding: 10px 30px 10px 50px;
  text-transform: uppercase;
  font-family: 'din_regular', sans-serif;
  font-size: 20px;
  color: #3BC0D1;
  background-color: transparent;
  border: solid #3BC0D1 3px;
  float: left;
  margin: 3% 0 0 2%;
  outline: none;
  cursor: pointer; }

.block_header div.rectangle {
  position: absolute;
  width: 10.5%;
  height: 9%;
  background-color: #3BC0D1;
  bottom: -120px;
  right: 0; }

/* FOOTER */
.newsletter {
  float: left;
  width: 100%;
  height: 30vh;
  background-color: #191919; }

.newsletter div:nth-child(1) {
  position: relative;
  width: 10.5%;
  height: 12%;
  background-color: #3BC0D1;
  left: 0;
  top: -14px; }

.newsletter div:nth-child(2) {
  font-size: 32px;
  color: white;
  font-family: 'din_regular', sans-serif;
  letter-spacing: 1px;
  float: left;
  line-height: 6vh;
  margin: 3% 0 0 10%; }

.newsletter input[type="email"] {
  float: left;
  width: 35%;
  height: 8vh;
  font-size: 20px;
  padding-left: 30px;
  margin: 5% 0 0 7%;
  color: #FFFFFF;
  border: none;
  outline: none;
  background-color: #3C3C3C;
  font-family: 'Roboto', sans-serif; }

.newsletter input::-webkit-input-placeholder {
  color: #BABABA; }

.newsletter input[type="submit"] {
  float: left;
  width: 13%;
  height: 8vh;
  margin-top: 5%;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3BC0D1;
  font-family: 'Roboto', sans-serif; }

.container {
  width: 80%;
  margin: 10% auto 0; }
  .container h2 {
    font-size: 20px;
    padding: 3% 0 0 7%;
    position: relative;
    font-family: "DIN Regular", sans-serif;
    letter-spacing: 2px; }
    .container h2::before {
      position: absolute;
      content: "";
      width: 74px;
      left: 0;
      height: 5px;
      background: #191919;
      top: 80%; }

.blue {
  color: #3BC0D1; }

/* ------------------------ACCUEIL/REVUE-------------------- */
.accueil {
  margin-right: 2%; }

.revues {
  margin-left: 2%;
  font-weight: 700; }

.accueil, .revues {
  font-family: "DIN Regular", sans-serif; }

/* ------------------------ARTICLE-------------------- */
.revue {
  width: 100%;
  height: 600px;
  float: left;
  padding-top: 2%;
  margin-bottom: 15%;
  font-family: "DIN Regular", sans-serif;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: space-between; }
  .revue .revue-big {
    width: 23%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    .revue .revue-big span {
      background: #3BC0D1;
      padding: 2% 6%;
      margin: 6% 0 6% 0;
      color: #fff; }
    .revue .revue-big img {
      width: 100%; }

.revue-small {
  width: 13%;
  float: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column; }
  .revue-small img {
    width: 100%; }
  .revue-small span {
    margin: 10% 0 10% 0;
    padding: 2% 6%;
    background-color: #3BC0D1;
    color: white; }
  .revue-small p {
    line-height: 150%; }

/* ------------------------METROPOLES-------------------- */
section.region {
  float: left;
  width: 100%;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  section.region h2 {
    font-size: 30px;
    font-family: "DIN Regular", sans-serif;
    margin-left: 10%; }
  section.region .head-region span {
    float: right;
    display: block;
    position: relative;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: "DIN Regular", sans-serif;
    margin-right: 10%; }
    section.region .head-region span::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 3px;
      left: -40%;
      background: #191919;
      top: 50%; }

.head-region {
  width: 100%;
  padding: 8% 0 6% 0; }

.table {
  background-color: #fff;
  width: 80%;
  padding: 5% 3%;
  float: left;
  margin: 0 auto; }
  .table .metropole {
    margin: 10% 0 10% 10%;
    float: left;
    width: 70%;
    font-family: 'Roboto', sans-serif; }
  .table h3 {
    font-size: 26px;
    font-weight: bold;
    display: block;
    margin-bottom: 1em; }
  .table .liste {
    width: 30%;
    float: left; }
    .table .liste li {
      margin-bottom: 1%; }

.metropole li, .region li {
  line-height: 150%; }

/* ------------------------OUTRE-MER-------------------- */
.outre-mer {
  float: left;
  width: 50%;
  font-family: 'Roboto', sans-serif; }

.etranger {
  float: right;
  width: 50%; }

/* ------------------------MEDIA QUERIES------------------------ */
@media screen and (max-width: 640px) {
  .revue-big, .revue-small {
    display: block;
    width: 100%; } }
#bo header {
  width: 85%;
  margin: 0 auto;
  padding-top: 3em; }
  #bo header:after {
    content: "";
    display: table;
    clear: both; }
  #bo header .links {
    float: right; }
  #bo header span {
    padding: .8em 1.4em;
    border: 3px solid #191919;
    font-family: "DIN Medium", sans-serif; }
  #bo header a {
    padding-right: 2em; }
#bo main h2 {
  text-transform: uppercase;
  position: relative;
  padding-left: 60px;
  font-family: "DIN Medium", sans-serif;
  margin-bottom: 2em; }
  #bo main h2::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background: #191919;
    left: 0;
    top: 35%; }
#bo main section {
  margin-bottom: 2em; }

#bo .view-journals {
  width: 85%;
  margin: 5em auto; }
  #bo .view-journals .head-view-journals:after {
    content: "";
    display: table;
    clear: both; }
  #bo .view-journals h2 {
    float: left;
    padding-bottom: 1em; }
  #bo .view-journals .filters {
    float: right;
    text-transform: uppercase;
    color: #757575; }
  #bo .view-journals span {
    padding: .4em 1em;
    background: #EDEDED;
    margin-left: .8em; }
    #bo .view-journals span.active {
      background: #3BC0D1;
      color: #fff; }
  #bo .view-journals table {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: none; }
    #bo .view-journals table thead {
      background: #3BC0D1;
      color: #fff; }
      #bo .view-journals table thead td {
        padding: .6em 0; }
    #bo .view-journals table tbody tr {
      background: #EFEFEF; }
      #bo .view-journals table tbody tr:nth-child(2n+1) {
        background: #F7F7F7; }
      #bo .view-journals table tbody tr td {
        padding: .5em 0; }

#bo .add-journal {
  background: #F7F7F7;
  padding: 3em 0; }
  #bo .add-journal .head-add-journal {
    text-align: center;
    margin: 1em 0; }
    #bo .add-journal .head-add-journal span {
      font-family: "DIN Medium", sans-serif; }
  #bo .add-journal .inner-add-journal {
    width: 85%;
    margin: 0 auto; }
  #bo .add-journal h2 {
    margin: 6em 0 3em 0; }
  #bo .add-journal form div {
    margin-bottom: 2em; }
    #bo .add-journal form div.left-side, #bo .add-journal form div.right-side {
      width: 45%; }
      #bo .add-journal form div.left-side input[type="text"], #bo .add-journal form div.left-side textarea, #bo .add-journal form div.right-side input[type="text"], #bo .add-journal form div.right-side textarea {
        background: rgba(216, 216, 216, 0.4);
        padding: .5em 1em;
        width: 100%; }
      #bo .add-journal form div.left-side label, #bo .add-journal form div.right-side label {
        font-weight: bolder;
        margin-bottom: .4em; }
    #bo .add-journal form div[class*="-side"] {
      display: inline-block; }
    #bo .add-journal form div.right-side {
      margin-top: 2em;
      margin-left: 9%; }
    #bo .add-journal form div.actions {
      margin-top: 3em;
      text-align: right; }
      #bo .add-journal form div.actions a {
        text-transform: uppercase;
        color: #3BC0D1;
        padding: .5em 1.8em;
        border: 2px solid #3BC0D1;
        cursor: pointer;
        margin-right: 1.5em; }
      #bo .add-journal form div.actions input[type="submit"] {
        background: #3BC0D1;
        color: #fff;
        text-transform: uppercase;
        padding: .5em 1.8em;
        border: 2px solid #3BC0D1;
        cursor: pointer; }

/*----------------------MEDIAQUERIES----------------*/
@media screen and (max-width: 735px) {
  #bo {
    font-size: 20px; }

  header {
    width: 100%;
    padding: 50px; }

  header .span {
    margin-top: 40px; }

  .head-view-journals {
    margin-bottom: 26px; }

  #bo > header > div > span {
    display: block;
    float: left; }

  form {
    display: block; }

  #bo > main > section.add-journal > div > h2 {
    width: 100%;
    padding: 0; }

  h2::before {
    display: none; }

  h2 {
    text-align: center; }

  #bo .add-journal form div.left-side,
  #bo .add-journal form div.right-side {
    width: 100%; }

  #bo .add-journal form div.right-side {
    margin: 0; } }
@media screen and (max-width: 620px) {
  #bo > header > div > span {
    margin-top: 30px; } }
.pouet {
  height: 13vh; }

footer {
  background-color: white; }

footer div:nth-child(1) {
  float: left;
  list-style: none;
  font-family: 'din_regular', sans-serif;
  margin: 10%; }

footer div:nth-child(2) {
  float: right;
  list-style: none;
  font-family: 'din_regular', sans-serif;
  margin: 10%;
  text-align: right; }

footer div h3 {
  margin-bottom: 15%;
  font-size: 22px; }

footer div a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: block;
  line-height: 30px; }

/*# sourceMappingURL=screen.css.map */
