/* line 15, ../sass/screen.scss */
.return {
  display: block;
}

/* line 19, ../sass/screen.scss */
h2.page-title {
  font-size: 25px;
  padding-left: 100px;
  position: relative;
  font-family: "DIN Regular", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 1em;
}
/* line 27, ../sass/screen.scss */
h2.page-title::before {
  position: absolute;
  content: "";
  width: 74px;
  left: 0;
  height: 3px;
  background: #191919;
  top: 50%;
}

/* line 38, ../sass/screen.scss */
.req-field {
  color: red;
  font-weight: bolder;
}

@font-face {
  font-family: 'DIN Light';
  src: url(../fonts/Din/din_light.ttf);
}
@font-face {
  font-family: 'DIN Regular';
  src: url(../fonts/Din/din_regular.ttf);
}
@font-face {
  font-family: 'DIN Medium';
  src: url(../fonts/Din/din_medium.otf);
}
@font-face {
  font-family: 'DIN Bold';
  src: url(../fonts/Din/din_bold.ttf);
}
/* line 3, ../sass/partials/_reset.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/partials/_reset.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 16px;
}

/* line 16, ../sass/partials/_reset.scss */
label {
  display: block;
}

/* line 20, ../sass/partials/_reset.scss */
ul {
  list-style: none;
}

/* line 24, ../sass/partials/_reset.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 29, ../sass/partials/_reset.scss */
input[type="text"], input[type="password"], textarea {
  background: rgba(216, 216, 216, 0.4);
  padding: .5em 1em;
  margin-top: .5em;
}

/* line 35, ../sass/partials/_reset.scss */
input[type="submit"] {
  border: none;
  background: none;
}

/* line 40, ../sass/partials/_reset.scss */
a, a:visited {
  text-decoration: none;
  color: initial;
}

/* line 45, ../sass/partials/_reset.scss */
button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* line 10, ../sass/partials/_clearfix.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 16, ../sass/partials/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 2, ../sass/partials/_header.scss */
header {
  position: relative;
  height: 55vh;
}
@media screen and (max-width: 1124px) {
  /* line 2, ../sass/partials/_header.scss */
  header {
    height: 40vh;
  }
}
@media screen and (max-width: 715px) {
  /* line 2, ../sass/partials/_header.scss */
  header {
    height: 30vh;
  }
}

/* line 15, ../sass/partials/_header.scss */
header .logo {
  float: left;
  margin: 3.5% 0 0 8%;
}

/* line 20, ../sass/partials/_header.scss */
.header-bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

/* line 27, ../sass/partials/_header.scss */
header nav {
  float: right;
  width: 47%;
  margin-top: 4.5%;
}

/* line 33, ../sass/partials/_header.scss */
header .nav_barre ul {
  width: 100%;
  margin-left: 15%;
}

/* line 38, ../sass/partials/_header.scss */
header .nav_barre ul li {
  display: inline-block;
  margin-right: 5.5%;
  font-size: 18px;
  font-family: "DIN Light", sans-serif;
  letter-spacing: 1px;
}

/* line 46, ../sass/partials/_header.scss */
header .nav_barre ul li a {
  color: white;
}

/* line 55, ../sass/partials/_header.scss */
.block_header {
  width: 100%;
  position: absolute;
  top: 15%;
}

/* line 61, ../sass/partials/_header.scss */
.block_header div:nth-child(1) p {
  width: 80%;
  font-size: 30px;
  color: white;
  font-family: "DIN Regular", sans-serif;
  letter-spacing: 1px;
  float: left;
  margin: 7.8% 0 0 9%;
  line-height: 6vh;
}

/* line 73, ../sass/partials/_header.scss */
.block_header > button {
  padding: 13px 30px;
  text-transform: uppercase;
  font-family: 'din_regular', sans-serif;
  font-size: 18px;
  color: white;
  background-color: #3BC0D1;
  border: none;
  float: left;
  margin: 3% 0 0 9%;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
}

/* line 89, ../sass/partials/_header.scss */
.block_header .btn_feuille > img {
  margin-left: 10px;
}

/* line 93, ../sass/partials/_header.scss */
.block_header .btn_command {
  padding: 10px 30px 10px 50px;
  text-transform: uppercase;
  font-family: 'din_regular', sans-serif;
  font-size: 20px;
  color: #3BC0D1;
  background-color: transparent;
  border: solid #3BC0D1 3px;
  float: left;
  margin: 3% 0 0 2%;
  outline: none;
  cursor: pointer;
}

/* line 107, ../sass/partials/_header.scss */
.block_header div.rectangle {
  position: absolute;
  width: 10.5%;
  height: 9%;
  background-color: #3BC0D1;
  bottom: -120px;
  right: 0;
}

/* line 118, ../sass/partials/_header.scss */
.navPhone {
  display: none;
  position: absolute;
}

/* line 123, ../sass/partials/_header.scss */
input[type="checkbox"] {
  position: absolute;
  left: -50px;
  top: 0;
}

/* line 135, ../sass/partials/_header.scss */
.navPhone {
  display: none;
  position: fixed;
}

/* line 140, ../sass/partials/_header.scss */
input[type="checkbox"] {
  position: absolute;
  left: -50px;
  top: 0;
}

@media only screen and (max-width: 1200px) {
  /* line 154, ../sass/partials/_header.scss */
  header .nav_barre {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 169, ../sass/partials/_header.scss */
  header .nav_barre {
    display: none;
  }

  /* line 173, ../sass/partials/_header.scss */
  header h1.logo a img {
    width: 40%;
  }

  /* line 177, ../sass/partials/_header.scss */
  header h1.logo {
    text-align: center;
    width: 80%;
  }

  /* line 189, ../sass/partials/_header.scss */
  .navPhone {
    display: block;
    position: fixed;
    z-index: 2;
  }

  /* line 195, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice {
    display: inline-block;
    margin: 2.5% 2% 0 0;
  }

  /* line 200, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice:nth-child(1) {
    margin-left: 20px;
  }

  /* line 204, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice:nth-child(2) {
    margin-left: 10px;
  }

  /* line 208, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 40px;
    padding: 4px;
  }

  /* line 217, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice span {
    width: 80%;
    background-color: white;
    height: 3px;
    position: absolute;
    z-index: 99;
  }

  /* line 225, ../sass/partials/_header.scss */
  .navPhone .mainNav:nth-child(1) .choice span:nth-child(2) {
    top: 0px;
  }

  /* line 228, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice span:nth-child(3) {
    top: 0 px;
  }

  /* line 232, ../sass/partials/_header.scss */
  .contentMenuPhone {
    z-index: 98;
    width: 400px;
    background-color: white;
    height: 120vh;
    position: fixed;
    top: -50px;
    right: -400px;
    transition: 0.6s;
  }

  /* line 243, ../sass/partials/_header.scss */
  .navPhone ul {
    list-style: none;
  }

  /* line 247, ../sass/partials/_header.scss */
  .navPhone ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }

  /* line 253, ../sass/partials/_header.scss */
  .contentMenuPhone ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }

  /* line 261, ../sass/partials/_header.scss */
  .contentMenuPhone ul li {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 7vh;
  }

  /* line 268, ../sass/partials/_header.scss */
  .contentMenuPhone ul li:nth-child(1) {
    margin-top: 20vh;
  }

  /* line 272, ../sass/partials/_header.scss */
  .choice {
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }

  /* line 282, ../sass/partials/_header.scss */
  input[type="checkbox"]:checked + .navPhone .contentMenuPhone {
    position: fixed;
    right: 0;
  }

  /* line 287, ../sass/partials/_header.scss */
  input[type="checkbox"]:checked + .navPhone .contentMenuPhone {
    position: fixed;
    right: 0;
  }

  /* line 293, ../sass/partials/_header.scss */
  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(2) {
    display: none;
    z-index: 3;
  }

  /* line 298, ../sass/partials/_header.scss */
  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(1) {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    transition: 0.6s;
    z-index: 20;
    background-color: black;
  }

  /* line 309, ../sass/partials/_header.scss */
  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(3) {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    z-index: 20;
    transition: 0.6s;
    background-color: black;
  }

  /* line 321, ../sass/partials/_header.scss */
  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(2) {
    z-index: 5;
    top: 20px;
  }

  /* line 327, ../sass/partials/_header.scss */
  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(1) {
    background-color: white;
    transition: 0.6s;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    top: 0px;
    z-index: 20;
  }

  /* line 337, ../sass/partials/_header.scss */
  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(3) {
    background-color: white;
    transition: 0.6s;
    top: 10px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    z-index: 20;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 366, ../sass/partials/_header.scss */
  header .nav_barre {
    display: none;
  }

  /* line 370, ../sass/partials/_header.scss */
  header h1.logo a img {
    width: 40%;
  }

  /* line 374, ../sass/partials/_header.scss */
  header h1.logo {
    text-align: center;
    width: 80%;
  }

  /* line 387, ../sass/partials/_header.scss */
  .navPhone {
    display: block;
    position: fixed;
    z-index: 2;
  }

  /* line 393, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice {
    display: inline-block;
    margin: 2% 2% 0 0;
  }

  /* line 398, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice:nth-child(1) {
    margin-left: 20px;
  }

  /* line 402, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice:nth-child(2) {
    margin-left: 10px;
  }

  /* line 406, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 40px;
    padding: 4px;
  }

  /* line 415, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice span {
    width: 50%;
    background-color: white;
    height: 2px;
    position: absolute;
    z-index: 99;
    display: block;
  }

  /* line 424, ../sass/partials/_header.scss */
  .navPhone .mainNav:nth-child(1) .choice span:nth-child(2) {
    top: 10px;
  }

  /* line 427, ../sass/partials/_header.scss */
  .navPhone .mainNav .choice span:nth-child(3) {
    top: 16px;
  }

  /* line 431, ../sass/partials/_header.scss */
  .contentMenuPhone {
    z-index: 98;
    width: 400px;
    background-color: white;
    height: 120vh;
    position: fixed;
    top: -50px;
    right: -400px;
    transition: 0.6s;
  }

  /* line 442, ../sass/partials/_header.scss */
  .navPhone ul {
    list-style: none;
  }

  /* line 446, ../sass/partials/_header.scss */
  .navPhone ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }

  /* line 452, ../sass/partials/_header.scss */
  .contentMenuPhone ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  /* line 460, ../sass/partials/_header.scss */
  .contentMenuPhone ul li {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 7vh;
  }

  /* line 467, ../sass/partials/_header.scss */
  .contentMenuPhone ul li:nth-child(1) {
    margin-top: 20vh;
  }

  /* line 471, ../sass/partials/_header.scss */
  .choice {
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }

  /* line 480, ../sass/partials/_header.scss */
  input[type="checkbox"]:checked + .navPhone .contentMenuPhone {
    position: fixed;
    right: 0;
  }

  /* line 486, ../sass/partials/_header.scss */
  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(2) {
    display: none;
    z-index: 3;
  }

  /* line 491, ../sass/partials/_header.scss */
  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(1) {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    transition: 0.6s;
    z-index: 20;
    background-color: black;
  }

  /* line 502, ../sass/partials/_header.scss */
  input[type="checkbox"]:checked + .navPhone .mainNav .choice span:nth-child(3) {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    z-index: 20;
    transition: 0.6s;
    background-color: black;
  }

  /* line 514, ../sass/partials/_header.scss */
  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(2) {
    z-index: 5;
    top: 10px;
  }

  /* line 520, ../sass/partials/_header.scss */
  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(1) {
    background-color: white;
    transition: 0.6s;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    top: 0px;
    z-index: 20;
  }

  /* line 530, ../sass/partials/_header.scss */
  input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(3) {
    background-color: white;
    transition: 0.6s;
    top: 5px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    z-index: 20;
  }
}
/* line 1, ../sass/partials/_breadcrumb.scss */
body .breadcrumb {
  width: 100%;
  margin-bottom: 3em;
}
/* line 5, ../sass/partials/_breadcrumb.scss */
body .breadcrumb a {
  display: inline-block;
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 5em;
}
/* line 14, ../sass/partials/_breadcrumb.scss */
body .breadcrumb a.active {
  color: #3BC0D1;
}
/* line 19, ../sass/partials/_breadcrumb.scss */
body .breadcrumb span {
  padding: 0 2%;
}

/* line 1, ../sass/_index.scss */
#index main {
  max-width: 85%;
  margin: 0 auto;
}

/* line 6, ../sass/_index.scss */
#index .actu_block {
  margin-top: 25%;
}
/* line 9, ../sass/_index.scss */
#index .actu_block figure img {
  width: 100%;
}

/* line 15, ../sass/_index.scss */
#index .actu_block div:nth-child(1) {
  border-bottom: solid black 5px;
  width: 5%;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 20px;
}

/* line 23, ../sass/_index.scss */
#index .actu_block > h1 {
  display: inline-block;
  font-size: 30px;
  color: black;
  font-family: 'din_regular', sans-serif;
  letter-spacing: 1px;
}

/* line 31, ../sass/_index.scss */
#index .actu_block .article_block {
  margin-top: 4%;
}

/* line 35, ../sass/_index.scss */
#index .actu_block .article_block article {
  float: left;
  width: 39%;
}

/* line 41, ../sass/_index.scss */
#index .actu_block .article_block article:nth-child(2) {
  float: right;
  width: 57%;
}

/* line 46, ../sass/_index.scss */
#index .actu_block .article_block article:nth-child(1) figure figcaption {
  color: #3BC0D1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 7%;
  letter-spacing: 1px;
}

/* line 55, ../sass/_index.scss */
#index .actu_block .article_block article:nth-child(2) figure figcaption {
  color: #3BC0D1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 4%;
  letter-spacing: 1px;
}

/* line 64, ../sass/_index.scss */
#index .article_block:nth-child(2n+3) {
  background: red;
}

/* line 70, ../sass/_index.scss */
#index .actu_block .article_block article h2 {
  font-size: 25px;
  font-family: "DIN Regular", sans-serif;
  color: #2D2D2D;
  letter-spacing: 1px;
  margin: 3% 0;
}
/* line 78, ../sass/_index.scss */
#index .actu_block .article_block article p {
  width: 100%;
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 3vh;
  letter-spacing: 1px;
}
/* line 88, ../sass/_index.scss */
#index .actu_block .article_block article a {
  text-decoration: none;
  color: #3BC0D1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 2%;
}

/* line 100, ../sass/_index.scss */
body section.old_articles {
  width: 100%;
  margin-top: 10%;
}
/* line 104, ../sass/_index.scss */
body section.old_articles article {
  width: 33.1%;
  float: left;
}
/* line 108, ../sass/_index.scss */
body section.old_articles article h2 {
  font-size: 20px;
  font-family: "DIN Regular", sans-serif;
  color: #2D2D2D;
  letter-spacing: 1px;
  margin: 3% 0;
}
/* line 116, ../sass/_index.scss */
body section.old_articles article p {
  width: 90%;
  padding-top: 4%;
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 3vh;
  letter-spacing: 1px;
}
/* line 127, ../sass/_index.scss */
body section.old_articles article a {
  text-decoration: none;
  color: #3BC0D1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 2%;
}
/* line 138, ../sass/_index.scss */
body section.old_articles figure {
  width: 90%;
}
/* line 140, ../sass/_index.scss */
body section.old_articles figure img {
  width: 100%;
}
/* line 143, ../sass/_index.scss */
body section.old_articles figure figcaption {
  color: #3BC0D1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 12%;
  letter-spacing: 1px;
}

/* line 155, ../sass/_index.scss */
.scrolling_bloc {
  width: 100%;
  margin-top: 10%;
}

/* line 160, ../sass/_index.scss */
div.container_caption {
  width: 100%;
  height: 100vh;
}
/* line 3, ../sass/partials/_clearfix.scss */
div.container_caption:after {
  content: "";
  display: table;
  clear: both;
}

/* line 167, ../sass/_index.scss */
div.container_caption > div:first-child {
  width: 100%;
  background-color: #F6F6F6;
  height: 50vh;
  text-align: center;
}

/* line 174, ../sass/_index.scss */
div.container_caption > div:first-child h1 {
  color: #3BC0D1;
  font-size: 240px;
  opacity: .26;
  font-family: 'din_regular', sans-serif;
  font-weight: 400;
}

/* line 182, ../sass/_index.scss */
div.container_caption > div:first-child p {
  color: #3BC0D1;
  font-size: 35px;
  font-family: 'din_regular', sans-serif;
  font-weight: 400;
  position: relative;
  bottom: 35%;
}

/* line 191, ../sass/_index.scss */
div.container_scrolling {
  background-color: white;
  width: 50%;
  height: 60vh;
  margin: 0 auto;
  padding-bottom: 2%;
  position: relative;
  bottom: 15%;
  -moz-box-shadow: 0px 0px 10px 1px #F7F7F7;
  -webkit-box-shadow: 0px 0px 10px 1px #F7F7F7;
  -o-box-shadow: 0px 0px 10px 1px #F7F7F7;
  box-shadow: 0px 0px 10px 1px #F7F7F7;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#F7F7F7, Direction=NaN, Strength=10);
}
/* line 3, ../sass/partials/_clearfix.scss */
div.container_scrolling:after {
  content: "";
  display: table;
  clear: both;
}

/* line 207, ../sass/_index.scss */
div.container_scrolling .content_scrolling_left {
  float: left;
  width: 49%;
  margin-top: 5%;
}
/* line 3, ../sass/partials/_clearfix.scss */
div.container_scrolling .content_scrolling_left:after {
  content: "";
  display: table;
  clear: both;
}

/* line 214, ../sass/_index.scss */
div.container_scrolling .content_scrolling_left p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 8% 0 0 10%;
}
/* line 3, ../sass/partials/_clearfix.scss */
div.container_scrolling .content_scrolling_left p:after {
  content: "";
  display: table;
  clear: both;
}

/* line 225, ../sass/_index.scss */
div.container_scrolling .content_scrolling_right {
  float: right;
  width: 48%;
  margin-top: 10%;
}
/* line 3, ../sass/partials/_clearfix.scss */
div.container_scrolling .content_scrolling_right:after {
  content: "";
  display: table;
  clear: both;
}

/* line 232, ../sass/_index.scss */
div.container_scrolling .content_scrolling_right p {
  text-align: right;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 20% 10% 0 0;
}
/* line 3, ../sass/partials/_clearfix.scss */
div.container_scrolling .content_scrolling_right p:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 1300px) {
  /* line 253, ../sass/_index.scss */
  .actu_block article:nth-child(1) figure img {
    width: 100%;
  }

  /* line 257, ../sass/_index.scss */
  .actu_block article:nth-child(2) figure img {
    width: 100%;
  }

  /* line 263, ../sass/_index.scss */
  .old_articles figure:nth-child(1) img {
    width: 95%;
  }
  /* line 267, ../sass/_index.scss */
  .old_articles h2 {
    width: 95%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 280, ../sass/_index.scss */
  .actu_block article:nth-child(1) figure img {
    width: 90%;
  }

  /* line 284, ../sass/_index.scss */
  .actu_block article:nth-child(2) figure img {
    width: 90%;
  }

  /* line 290, ../sass/_index.scss */
  .old_articles figure:nth-child(1) img {
    width: 95%;
  }
  /* line 294, ../sass/_index.scss */
  .old_articles h2 {
    width: 95%;
  }

  /* line 299, ../sass/_index.scss */
  .scrolling_bloc {
    width: 100%;
  }
  /* line 3, ../sass/partials/_clearfix.scss */
  .scrolling_bloc:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 303, ../sass/_index.scss */
  .scrolling_bloc .container_scrolling {
    width: 80%;
    height: 60vh;
    padding-bottom: 2%;
  }
  /* line 3, ../sass/partials/_clearfix.scss */
  .scrolling_bloc .container_scrolling:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 323, ../sass/_index.scss */
  body .actu_block div:nth-child(1) {
    border-bottom: solid black 3px;
    width: 5%;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 20px;
  }
  /* line 332, ../sass/_index.scss */
  body .actu_block h1 {
    font-size: 25px;
    margin-bottom: 5%;
  }
  /* line 337, ../sass/_index.scss */
  body .actu_block .article_block article:nth-child(1) {
    width: 100%;
    float: left;
    margin-bottom: 20%;
  }
  /* line 343, ../sass/_index.scss */
  body .actu_block .article_block article:nth-child(2) {
    width: 100%;
    float: left;
    margin-bottom: 15%;
  }

  /* line 359, ../sass/_index.scss */
  div.clearfix .old_articles article {
    width: 100%;
    margin-bottom: 15%;
  }
  /* line 364, ../sass/_index.scss */
  div.clearfix .old_articles figure:nth-child(1) img {
    width: 95%;
  }
  /* line 368, ../sass/_index.scss */
  div.clearfix .old_articles h2 {
    width: 95%;
  }

  /* line 374, ../sass/_index.scss */
  .scrolling_bloc {
    width: 100%;
  }
  /* line 377, ../sass/_index.scss */
  .scrolling_bloc .container_scrolling {
    width: 80%;
    height: 110vh;
  }
  /* line 381, ../sass/_index.scss */
  .scrolling_bloc .container_scrolling .content_scrolling_left {
    width: 100%;
    padding: 5%;
  }
  /* line 385, ../sass/_index.scss */
  .scrolling_bloc .container_scrolling .content_scrolling_left p {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  /* line 392, ../sass/_index.scss */
  .scrolling_bloc .container_scrolling .content_scrolling_right {
    width: 100%;
    padding: 5%;
    float: left;
  }
  /* line 397, ../sass/_index.scss */
  .scrolling_bloc .container_scrolling .content_scrolling_right p {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
}
/* line 2, ../sass/partials/_newsletter.scss */
.newsletter {
  position: relative;
  width: 100%;
  height: 30vh;
  background: #191919;
  margin-top: 6em;
  padding-top: 5em;
}
/* line 10, ../sass/partials/_newsletter.scss */
.newsletter .inner-newsletter {
  width: 85%;
  margin: 0 auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
.newsletter .inner-newsletter:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../sass/partials/_newsletter.scss */
.newsletter div.blue {
  position: absolute;
  width: 10.5%;
  height: 12%;
  background: #3BC0D1;
  left: 0;
  top: -6px;
}

/* line 26, ../sass/partials/_newsletter.scss */
.newsletter .slogan {
  width: 52%;
  display: inline-block;
  font-size: 1.4em;
  color: #fff;
  font-family: "DIN Regular", sans-serif;
  letter-spacing: 1px;
  line-height: 1.4;
}
/* line 35, ../sass/partials/_newsletter.scss */
.newsletter .slogan span {
  color: #fff;
  font-size: 1.4em;
}

/* line 41, ../sass/partials/_newsletter.scss */
div.subscribe {
  width: 46%;
  margin-top: .8em;
  display: inline-block;
}
/* line 3, ../sass/partials/_clearfix.scss */
div.subscribe form:after {
  content: "";
  display: table;
  clear: both;
}
/* line 50, ../sass/partials/_newsletter.scss */
div.subscribe input[type="email"] {
  float: left;
  width: 70%;
  height: 7vh;
  font-size: 18px;
  padding-left: 30px;
  color: #FFF;
  border: none;
  background: #3C3C3C;
  font-family: "Roboto", sans-serif;
}
/* line 62, ../sass/partials/_newsletter.scss */
div.subscribe input::-webkit-input-placeholder {
  color: #BABABA;
}
/* line 66, ../sass/partials/_newsletter.scss */
div.subscribe input[type="submit"] {
  width: 30%;
  float: left;
  height: 7vh;
  font-size: 20px;
  color: #FFF;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3BC0D1;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1024px) {
  /* line 85, ../sass/partials/_newsletter.scss */
  div.newsletter {
    padding: 2%;
  }

  /* line 89, ../sass/partials/_newsletter.scss */
  div.inner-newsletter .slogan {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  /* line 95, ../sass/partials/_newsletter.scss */
  div.subscribe {
    margin: 0 auto;
  }
}
/* line 2, ../sass/_revues.scss */
.breadcrumb {
  width: 85%;
  margin: 3em auto 0 auto;
  font-family: "DIN Regular", sans-serif;
}
/* line 7, ../sass/_revues.scss */
.breadcrumb .arrow {
  padding: 0 1em;
}
/* line 11, ../sass/_revues.scss */
.breadcrumb .active {
  color: #3BC0D1;
  font-family: "DIN Medium", sans-serif;
}

/* line 18, ../sass/_revues.scss */
.visible {
  display: block;
}

/* line 21, ../sass/_revues.scss */
.hidden {
  display: none !important;
}

/* line 24, ../sass/_revues.scss */
section.last-journals {
  width: 85%;
  margin: 3em auto 6em;
  width: 85%;
  margin: 3em auto 6em;
}
/* line 30, ../sass/_revues.scss */
section.last-journals h2 {
  font-size: 25px;
  padding-left: 100px;
  position: relative;
  font-family: "DIN Regular", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 2em;
}
@media screen and (max-width: 780px) {
  /* line 30, ../sass/_revues.scss */
  section.last-journals h2 {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10%;
    font-size: 30px;
  }
}
/* line 44, ../sass/_revues.scss */
section.last-journals h2::before {
  position: absolute;
  content: "";
  width: 74px;
  left: 0;
  height: 3px;
  background: #191919;
  top: 50%;
}

/* line 56, ../sass/_revues.scss */
.blue {
  color: #3BC0D1;
}

/* line 61, ../sass/_revues.scss */
.all-journals {
  float: left;
  padding-top: 2%;
  font-family: "DIN Regular", sans-serif;
  font-size: 16px;
}
/* line 3, ../sass/partials/_clearfix.scss */
.all-journals:after {
  content: "";
  display: table;
  clear: both;
}
/* line 68, ../sass/_revues.scss */
.all-journals .revue {
  width: 19%;
  float: left;
  margin-right: 4.33333%;
}
@media screen and (max-width: 780px) {
  /* line 68, ../sass/_revues.scss */
  .all-journals .revue {
    width: 100%;
    margin-bottom: 20%;
    font-size: 30px;
  }
}
/* line 79, ../sass/_revues.scss */
.all-journals .revue img {
  width: 100%;
}
/* line 83, ../sass/_revues.scss */
.all-journals .revue span {
  padding: .5em 1.7em;
  background: #3BC0D1;
  color: #fff;
}
@media screen and (max-width: 780px) {
  /* line 83, ../sass/_revues.scss */
  .all-journals .revue span {
    font-size: 30px;
  }
}
/* line 91, ../sass/_revues.scss */
.all-journals .revue p {
  font-family: "DIN Medium", sans-serif;
  font-size: 1.2em;
  margin-top: 1.6em;
}
/* line 98, ../sass/_revues.scss */
.all-journals .revue:first-child {
  width: 30%;
  float: left;
}
@media screen and (max-width: 780px) {
  /* line 98, ../sass/_revues.scss */
  .all-journals .revue:first-child {
    width: 100%;
  }
}
/* line 106, ../sass/_revues.scss */
.all-journals .revue:first-child img {
  width: 100%;
}
/* line 111, ../sass/_revues.scss */
.all-journals .revue:last-child {
  margin-right: 0;
}

/* line 117, ../sass/_revues.scss */
section.region {
  float: left;
  width: 100%;
  background: #F7F7F7;
  padding: 4em 0;
}
/* line 123, ../sass/_revues.scss */
section.region .inner-region {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
}
/* line 128, ../sass/_revues.scss */
section.region .inner-region .head-region {
  width: 85%;
  margin: 0 auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
section.region .inner-region .head-region:after {
  content: "";
  display: table;
  clear: both;
}
/* line 133, ../sass/_revues.scss */
section.region .inner-region .head-region h2 {
  float: left;
  font-size: 30px;
  font-family: "DIN Regular", sans-serif;
}
@media screen and (max-width: 780px) {
  /* line 133, ../sass/_revues.scss */
  section.region .inner-region .head-region h2 {
    text-align: center;
    width: 100%;
  }
}
/* line 143, ../sass/_revues.scss */
section.region .inner-region .head-region span {
  float: right;
  display: block;
  position: relative;
  font-size: 20px;
  font-family: "DIN Regular", sans-serif;
  cursor: pointer;
  margin-bottom: 2em;
}
/* line 152, ../sass/_revues.scss */
section.region .inner-region .head-region span::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  left: -40%;
  background: #191919;
  top: 50%;
}
@media screen and (max-width: 780px) {
  /* line 143, ../sass/_revues.scss */
  section.region .inner-region .head-region span {
    float: none;
    width: 100%;
    margin-bottom: 10%;
  }
}

/* line 173, ../sass/_revues.scss */
.all-regions {
  background: #fff;
  width: 85%;
  padding: 6em 7em;
  margin: 0 auto;
  line-height: 1.8;
}
/* line 3, ../sass/partials/_clearfix.scss */
.all-regions:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 780px) {
  /* line 173, ../sass/_revues.scss */
  .all-regions {
    padding: 6em 0;
    text-align: center;
  }
}
/* line 186, ../sass/_revues.scss */
.all-regions .metropole {
  display: block;
  margin-bottom: 8em;
  font-family: "Roboto", sans-serif;
}
/* line 3, ../sass/partials/_clearfix.scss */
.all-regions .metropole:after {
  content: "";
  display: table;
  clear: both;
}
/* line 192, ../sass/_revues.scss */
.all-regions .metropole .liste {
  width: 30%;
  float: left;
}
@media screen and (max-width: 780px) {
  /* line 192, ../sass/_revues.scss */
  .all-regions .metropole .liste {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  /* line 186, ../sass/_revues.scss */
  .all-regions .metropole {
    margin-bottom: 3em;
  }
}
/* line 206, ../sass/_revues.scss */
.all-regions h3 {
  font-size: 26px;
}
/* line 210, ../sass/_revues.scss */
.all-regions .outre-mer {
  float: left;
  width: 50%;
}
@media screen and (max-width: 780px) {
  /* line 210, ../sass/_revues.scss */
  .all-regions .outre-mer {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }
}
/* line 220, ../sass/_revues.scss */
.all-regions .etranger {
  float: left;
  width: 50%;
}
@media screen and (max-width: 780px) {
  /* line 220, ../sass/_revues.scss */
  .all-regions .etranger {
    float: none;
    width: 100%;
  }
}

/* line 232, ../sass/_revues.scss */
.cartes {
  width: 85%;
  margin: 0 auto;
  background: white;
}
/* line 3, ../sass/partials/_clearfix.scss */
.cartes:after {
  content: "";
  display: table;
  clear: both;
}
/* line 238, ../sass/_revues.scss */
.cartes .container_h3 {
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-item: center;
  flex-direction: column;
}
/* line 245, ../sass/_revues.scss */
.cartes .container_h3 h3 {
  font-size: 30px;
  font-family: "DIN Regular", sans-serif;
  text-align: center;
}
/* line 250, ../sass/_revues.scss */
.cartes .container_h3 span {
  text-align: center;
  font-family: "DIN Regular", sans-serif;
  font-size: 26px;
}
/* line 256, ../sass/_revues.scss */
.cartes .region-img {
  margin-top: 6%;
}
/* line 261, ../sass/_revues.scss */
.cartes .region-img .region-left {
  width: 50%;
  float: left;
  text-align: center;
}
@media screen and (max-width: 780px) {
  /* line 261, ../sass/_revues.scss */
  .cartes .region-img .region-left {
    width: 100%;
  }
}
/* line 269, ../sass/_revues.scss */
.cartes .region-img .region-left img {
  width: 60%;
}
/* line 274, ../sass/_revues.scss */
.cartes .region-img .region-right {
  width: 40%;
  float: right;
}
@media screen and (max-width: 780px) {
  /* line 274, ../sass/_revues.scss */
  .cartes .region-img .region-right {
    width: 100%;
  }
}
/* line 282, ../sass/_revues.scss */
.cartes .region-img .region-right figure {
  width: 100%;
  margin-top: 12%;
}
/* line 288, ../sass/_revues.scss */
.cartes .region-img .region-right figure img {
  width: 14%;
  margin-left: 12%;
}

/* line 2, ../sass/_boutique.scss */
#boutique main {
  width: 85%;
  margin: 0 auto;
}

/* line 7, ../sass/_boutique.scss */
.container_table div {
  margin-top: 8%;
}

/* line 11, ../sass/_boutique.scss */
.container_table div h2 {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 1%;
}

/* line 20, ../sass/_boutique.scss */
.container_table div span {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 3%;
}

/* line 29, ../sass/_boutique.scss */
.container_table div:nth-child(1) p::after {
  content: " commande";
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 1%;
}

/* line 39, ../sass/_boutique.scss */
.container_table div:nth-child(2) p::after {
  content: " abonnement";
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 1%;
}

/* line 49, ../sass/_boutique.scss */
.container_table div img {
  width: 100%;
}

/* line 53, ../sass/_boutique.scss */
.container_button {
  width: 100%;
  margin-top: 13%;
}

/* line 58, ../sass/_boutique.scss */
.container_button button:nth-child(1) {
  float: left;
  padding: 5% 19.8%;
  background-color: #3BC0D1;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* line 68, ../sass/_boutique.scss */
.container_button button:nth-child(2) {
  float: right;
  padding: 5% 20.5%;
  background-color: #F7F7F7;
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* line 1, ../sass/_order.scss */
#order {
  padding-bottom: 5em;
}
/* line 2, ../sass/_order.scss */
#order main {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 4em;
}

/* line 10, ../sass/_order.scss */
.container_signin {
  clear: both;
  background: #F7F7F7;
}
/* line 14, ../sass/_order.scss */
.container_signin .container_steps {
  float: left;
  width: 30%;
  background: #3BC0D1;
  padding-bottom: 10%;
}
/* line 20, ../sass/_order.scss */
.container_signin .container_steps p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 150px;
  text-align: center;
}
/* line 31, ../sass/_order.scss */
.container_signin .container_steps div {
  border-bottom: solid #fff 10px;
  margin-left: 35%;
  width: 30%;
}
/* line 37, ../sass/_order.scss */
.container_signin .container_steps p:nth-child(1) {
  padding-top: 22%;
}

/* line 45, ../sass/_order.scss */
main:not(.ending) .container_fields {
  width: 70%;
  float: left;
}
/* line 49, ../sass/_order.scss */
main:not(.ending) .container_fields .inner-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 16%;
}
/* line 3, ../sass/partials/_clearfix.scss */
main:not(.ending) .container_fields .inner-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 56, ../sass/_order.scss */
main:not(.ending) .container_fields input[type="text"], main:not(.ending) .container_fields input[type="tel"], main:not(.ending) .container_fields input[type="mail"] {
  background: #EEE;
  padding: 10px 50px 10px 20px;
  font-size: 15px;
}
/* line 62, ../sass/_order.scss */
main:not(.ending) .container_fields label {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 1.6em;
  padding-bottom: .7em;
}
/* line 71, ../sass/_order.scss */
main:not(.ending) .container_fields form {
  width: 80%;
  margin: 0 auto;
  margin-top: 16%;
}
/* line 3, ../sass/partials/_clearfix.scss */
main:not(.ending) .container_fields form:after {
  content: "";
  display: table;
  clear: both;
}
/* line 77, ../sass/_order.scss */
main:not(.ending) .container_fields form .submit {
  background: #3BC0D1;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #3BC0D1;
  padding: .4em 1.8em;
}
/* line 87, ../sass/_order.scss */
main:not(.ending) .container_fields div[class*="form-step-"] {
  display: none;
}
/* line 90, ../sass/_order.scss */
main:not(.ending) .container_fields div[class*="form-step-"].active {
  display: block;
}
/* line 95, ../sass/_order.scss */
main:not(.ending) .container_fields .left_fields {
  float: left;
  width: 50%;
}
/* line 99, ../sass/_order.scss */
main:not(.ending) .container_fields .left_fields input {
  width: 90%;
}
/* line 104, ../sass/_order.scss */
main:not(.ending) .container_fields .right_fields {
  float: right;
  width: 50%;
}
/* line 108, ../sass/_order.scss */
main:not(.ending) .container_fields .right_fields input {
  width: 90%;
}
/* line 113, ../sass/_order.scss */
main:not(.ending) .container_fields .list-final {
  margin-top: 3em;
}
/* line 118, ../sass/_order.scss */
main:not(.ending) .container_fields .head-final h2 {
  font-size: 1.7em;
  font-family: "DIN Medium", sans-serif;
}
/* line 122, ../sass/_order.scss */
main:not(.ending) .container_fields .head-final h2 span {
  font-family: "DIN Medium", sans-serif;
}

/* line 131, ../sass/_order.scss */
main.ending .container_steps {
  display: none;
}
/* line 135, ../sass/_order.scss */
main.ending .container_fields {
  width: 100%;
}
/* line 138, ../sass/_order.scss */
main.ending .container_fields a {
  display: block;
  text-align: center;
  padding-bottom: 3em;
}
/* line 144, ../sass/_order.scss */
main.ending .container_fields h2.ending-msg {
  text-align: center;
  font-family: "DIN Medium", sans-serif;
  font-size: 3.4em;
  padding: 3em 0 2em 0;
}
/* line 150, ../sass/_order.scss */
main.ending .container_fields h2.ending-msg span {
  font-family: "DIN Regular", sans-serif;
}
/* line 156, ../sass/_order.scss */
main.ending div[class*="form-step-1"],
main.ending div[class*="form-step-2"],
main.ending div[class*="form-step-3"],
main.ending div[class*="form-step-4"] {
  display: none;
}

/* line 167, ../sass/_order.scss */
.container_btn_fields.step-after {
  float: right;
}
/* line 170, ../sass/_order.scss */
.container_btn_fields.step-after button {
  float: right;
  background: #3BC0D1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 3% 10%;
  color: #fff;
}

/* line 203, ../sass/_order.scss */
.container_btn_fields.step-before {
  float: left;
}
/* line 206, ../sass/_order.scss */
.container_btn_fields.step-before button {
  float: left;
  background: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 3% 10%;
  color: #fff;
}

/* line 1, ../sass/_rfp.scss */
#rfp .container {
  width: 80%;
  margin: 0 auto;
}

/* line 5, ../sass/_rfp.scss */
#rfp iframe {
  margin-top: 8em;
  width: 100%;
  height: 1000px;
}

/* line 3, ../sass/_connectadmin.scss */
#connect-admin .breadcrumb {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 4em;
}

/* line 10, ../sass/_connectadmin.scss */
section.connect {
  margin-top: 4em;
  font-size: 0;
}
/* line 3, ../sass/partials/_clearfix.scss */
section.connect:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../sass/_connectadmin.scss */
section.connect div.img {
  display: inline-block;
  width: 40%;
  font-size: initial;
  vertical-align: middle;
}
/* line 20, ../sass/_connectadmin.scss */
section.connect div.img img {
  max-width: 100%;
  opacity: .6;
}
/* line 26, ../sass/_connectadmin.scss */
section.connect .error-msg {
  color: red;
  font-weight: bolder;
  padding-bottom: 1.8em;
}
/* line 32, ../sass/_connectadmin.scss */
section.connect .connect-form {
  width: 60%;
  display: inline-block;
  font-size: initial;
  vertical-align: middle;
  padding-left: 10%;
}
/* line 38, ../sass/_connectadmin.scss */
section.connect .connect-form h2 {
  font-family: "DIN Regular", sans-serif;
  font-size: 1.8em;
  padding-bottom: 1.3em;
}
/* line 42, ../sass/_connectadmin.scss */
section.connect .connect-form h2 span {
  font-family: "DIN Regular", sans-serif;
  font-size: 1em;
}
/* line 49, ../sass/_connectadmin.scss */
section.connect .connect-form div.password {
  margin-top: 1.8em;
}
/* line 53, ../sass/_connectadmin.scss */
section.connect .connect-form div input {
  width: 60%;
}
/* line 58, ../sass/_connectadmin.scss */
section.connect .connect-form input[type="submit"] {
  margin-top: 3em;
  text-transform: uppercase;
  color: #3BC0D1;
  padding: .5em 1.8em;
  border: 2px solid #3BC0D1;
  cursor: pointer;
  margin-right: 1.5em;
}

/* line 3, ../sass/_backoffice.scss */
#bo header {
  width: 85%;
  margin: 0 auto;
  padding-top: 3em;
}
/* line 3, ../sass/partials/_clearfix.scss */
#bo header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../sass/_backoffice.scss */
#bo header .links {
  float: right;
}
/* line 13, ../sass/_backoffice.scss */
#bo header span {
  padding: .8em 1.4em;
  border: 3px solid #191919;
  font-family: "DIN Medium", sans-serif;
}
/* line 19, ../sass/_backoffice.scss */
#bo header a {
  padding-right: 2em;
}
/* line 25, ../sass/_backoffice.scss */
#bo main h2 {
  text-transform: uppercase;
  position: relative;
  padding-left: 60px;
  font-family: "DIN Medium", sans-serif;
  margin-bottom: 2em;
}
/* line 32, ../sass/_backoffice.scss */
#bo main h2::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background: #191919;
  left: 0;
  top: 35%;
}

/* line 46, ../sass/_backoffice.scss */
#bo .view-journals {
  width: 85%;
  margin: 5em auto;
}
/* line 3, ../sass/partials/_clearfix.scss */
#bo .view-journals .head-view-journals:after {
  content: "";
  display: table;
  clear: both;
}
/* line 54, ../sass/_backoffice.scss */
#bo .view-journals h2 {
  float: left;
  padding-bottom: 1em;
}
/* line 59, ../sass/_backoffice.scss */
#bo .view-journals .filters {
  float: right;
  text-transform: uppercase;
  color: #757575;
}
/* line 65, ../sass/_backoffice.scss */
#bo .view-journals span {
  padding: .4em 1em;
  background: #EDEDED;
  margin-left: .8em;
}
/* line 70, ../sass/_backoffice.scss */
#bo .view-journals span.active {
  background: #3BC0D1;
  color: #fff;
}
/* line 76, ../sass/_backoffice.scss */
#bo .view-journals table {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
/* line 81, ../sass/_backoffice.scss */
#bo .view-journals table thead {
  background: #3BC0D1;
  color: #fff;
}
/* line 84, ../sass/_backoffice.scss */
#bo .view-journals table thead td {
  padding: .6em 0;
}
/* line 90, ../sass/_backoffice.scss */
#bo .view-journals table tbody tr {
  background: #EFEFEF;
}
/* line 92, ../sass/_backoffice.scss */
#bo .view-journals table tbody tr:nth-child(2n+1) {
  background: #F7F7F7;
}
/* line 95, ../sass/_backoffice.scss */
#bo .view-journals table tbody tr td {
  padding: .5em 0;
}

/* line 103, ../sass/_backoffice.scss */
#bo .add-journal {
  background: #F7F7F7;
  padding: 3em 0;
}
/* line 107, ../sass/_backoffice.scss */
#bo .add-journal .head-add-journal {
  text-align: center;
  margin: 1em 0;
}
/* line 110, ../sass/_backoffice.scss */
#bo .add-journal .head-add-journal span {
  font-family: "DIN Medium", sans-serif;
}
/* line 115, ../sass/_backoffice.scss */
#bo .add-journal .inner-add-journal {
  width: 85%;
  margin: 0 auto;
}
/* line 120, ../sass/_backoffice.scss */
#bo .add-journal h2 {
  margin: 6em 0 3em 0;
}
/* line 124, ../sass/_backoffice.scss */
#bo .add-journal form div {
  margin-bottom: 2em;
}
/* line 127, ../sass/_backoffice.scss */
#bo .add-journal form div.left-side, #bo .add-journal form div.right-side {
  width: 45%;
}
/* line 129, ../sass/_backoffice.scss */
#bo .add-journal form div.left-side input[type="text"], #bo .add-journal form div.left-side textarea, #bo .add-journal form div.right-side input[type="text"], #bo .add-journal form div.right-side textarea {
  background: rgba(216, 216, 216, 0.4);
  padding: .5em 1em;
  width: 100%;
}
/* line 134, ../sass/_backoffice.scss */
#bo .add-journal form div.left-side label, #bo .add-journal form div.right-side label {
  font-weight: bolder;
  margin-bottom: .4em;
}
/* line 140, ../sass/_backoffice.scss */
#bo .add-journal form div[class*="-side"] {
  display: inline-block;
}
/* line 144, ../sass/_backoffice.scss */
#bo .add-journal form div.right-side {
  margin-top: 2em;
  margin-left: 9%;
}
/* line 149, ../sass/_backoffice.scss */
#bo .add-journal form div.actions {
  margin-top: 3em;
  text-align: right;
}
/* line 152, ../sass/_backoffice.scss */
#bo .add-journal form div.actions a {
  text-transform: uppercase;
  color: #3BC0D1;
  padding: .5em 1.8em;
  border: 2px solid #3BC0D1;
  cursor: pointer;
  margin-right: 1.5em;
}
/* line 161, ../sass/_backoffice.scss */
#bo .add-journal form div.actions input[type="submit"] {
  background: #3BC0D1;
  color: #fff;
  text-transform: uppercase;
  padding: .5em 1.8em;
  border: 2px solid #3BC0D1;
  cursor: pointer;
}

/*----------------------MEDIAQUERIES----------------*/
@media screen and (max-width: 735px) {
  /* line 178, ../sass/_backoffice.scss */
  #bo {
    font-size: 20px;
  }

  /* line 183, ../sass/_backoffice.scss */
  #bo header {
    width: 100%;
    padding: 50px;
  }

  /* line 188, ../sass/_backoffice.scss */
  #bo header .span {
    margin-top: 40px;
  }

  /* line 192, ../sass/_backoffice.scss */
  .head-view-journals {
    margin-bottom: 26px;
  }

  /* line 196, ../sass/_backoffice.scss */
  #bo > header > div > span {
    display: block;
    float: left;
  }

  /* line 202, ../sass/_backoffice.scss */
  #bo form {
    display: block;
  }

  /* line 207, ../sass/_backoffice.scss */
  #bo > main > section.add-journal > div > h2 {
    width: 100%;
    padding: 0;
  }

  /* line 211, ../sass/_backoffice.scss */
  #bo h2::before {
    display: none;
  }

  /* line 214, ../sass/_backoffice.scss */
  #bo h2 {
    text-align: center;
  }

  /* line 217, ../sass/_backoffice.scss */
  #bo .add-journal form div.left-side,
  #bo .add-journal form div.right-side {
    width: 100%;
  }

  /* line 221, ../sass/_backoffice.scss */
  #bo .add-journal form div.right-side {
    margin: 0;
  }
}
@media screen and (max-width: 620px) {
  /* line 227, ../sass/_backoffice.scss */
  #bo > header > div > span {
    margin-top: 30px;
  }
}
/* line 2, ../sass/_modify.scss */
body.modify main {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 3em;
}
/* line 8, ../sass/_modify.scss */
body.modify .head-modify-form {
  margin-bottom: 4em;
}

/* line 14, ../sass/_modify.scss */
section.modify-form span.revue-number {
  font-size: 5em;
  font-weight: bolder;
}
/* line 3, ../sass/partials/_clearfix.scss */
section.modify-form div.modify-fields:after {
  content: "";
  display: table;
  clear: both;
}
/* line 22, ../sass/_modify.scss */
section.modify-form div.modify-fields .left-side {
  float: left;
  width: 60%;
}
/* line 27, ../sass/_modify.scss */
section.modify-form div.modify-fields .right-side {
  width: 40%;
  float: right;
}
/* line 34, ../sass/_modify.scss */
section.modify-form div.modify-fields div[class*="-side"] > div {
  margin-bottom: 1em;
}
/* line 38, ../sass/_modify.scss */
section.modify-form div.modify-fields div[class*="-side"] input[type="text"], section.modify-form div.modify-fields div[class*="-side"] textarea {
  width: 60%;
}
/* line 44, ../sass/_modify.scss */
section.modify-form input[type="submit"] {
  text-transform: uppercase;
  color: #3BC0D1;
  padding: .5em 1.8em;
  border: 2px solid #3BC0D1;
  cursor: pointer;
  margin-right: 1.5em;
  margin-top: 2em;
}

/* line 2, ../sass/partials/_footer.scss */
footer {
  padding: 4em 0;
}
/* line 5, ../sass/partials/_footer.scss */
footer .inner-footer {
  width: 85%;
  margin: 0 auto;
  padding: 2em 0;
}
/* line 3, ../sass/partials/_clearfix.scss */
footer .inner-footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/partials/_footer.scss */
footer h3 {
  margin-bottom: 15%;
  font-size: 20px;
}
/* line 17, ../sass/partials/_footer.scss */
footer a {
  display: block;
  color: #191919;
  font-size: 18px;
  line-height: 30px;
}

/* line 25, ../sass/partials/_footer.scss */
footer .navigate {
  float: left;
  font-family: "DIN Regular", sans-serif;
}

/* line 30, ../sass/partials/_footer.scss */
footer .boutique {
  float: right;
  font-family: "DIN Regular", sans-serif;
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  /* line 46, ../sass/partials/_footer.scss */
  div.newsletter {
    padding: 2%;
  }

  /* line 50, ../sass/partials/_footer.scss */
  div.inner-newsletter .slogan {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  /* line 56, ../sass/partials/_footer.scss */
  div.subscribe {
    margin: 5% auto;
    display: block;
    width: 90%;
  }
  /* line 61, ../sass/partials/_footer.scss */
  div.subscribe input[type="email"] {
    font-size: 16px;
  }
  /* line 65, ../sass/partials/_footer.scss */
  div.subscribe input[type="submit"] {
    font-size: 16px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 79, ../sass/partials/_footer.scss */
  div.newsletter {
    padding: 5%;
    height: 23vh;
  }

  /* line 84, ../sass/partials/_footer.scss */
  div.inner-newsletter .slogan {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 16px;
  }

  /* line 91, ../sass/partials/_footer.scss */
  div.subscribe {
    margin: 5% auto;
    display: block;
    width: 100%;
  }
  /* line 96, ../sass/partials/_footer.scss */
  div.subscribe input[type="email"] {
    font-size: 16px;
    height: 5vh;
  }
  /* line 101, ../sass/partials/_footer.scss */
  div.subscribe input[type="submit"] {
    font-size: 16px;
    height: 5vh;
  }

  /* line 108, ../sass/partials/_footer.scss */
  footer .navigate {
    width: 100%;
    text-align: center;
  }
  /* line 112, ../sass/partials/_footer.scss */
  footer .navigate h3 {
    margin-bottom: 5%;
  }
  /* line 117, ../sass/partials/_footer.scss */
  footer .boutique {
    margin-top: 15%;
    width: 100%;
    text-align: center;
  }
  /* line 122, ../sass/partials/_footer.scss */
  footer .boutique h3 {
    margin-bottom: 5%;
  }
}
