#bo {

  header {
    width: 85%;
    margin: 0 auto;
    padding-top: 3em;
    @include clearfix;

    .links {
      float: right;
    }

    span {
      padding: .8em 1.4em;
      border: 3px solid $black;
      font-family: $dinM;
    }

    a {
      padding-right: 2em;
    }
  }

  main {
    h2 {
      text-transform: uppercase;
      position: relative;
      padding-left: 60px;
      font-family: $dinM;
      margin-bottom: 2em;

      &::before {
        position: absolute;
        content: '';
        width: 40px;
        height: 2px;
        background: $black;
        left: 0;
        top: 35%;

      }
    }
  }
}

#bo .view-journals {
  width: 85%;
  margin: 5em auto;

  .head-view-journals {
    @include clearfix;
  }

  h2 {
    float: left;
    padding-bottom: 1em;
  }

  .filters {
    float: right;
    text-transform: uppercase;
    color: $grey;
  }

  span {
    padding: .4em 1em;
    background: #EDEDED;
    margin-left: .8em;

    &.active {
      background: $blue;
      color: #fff;
    }
  }

  table {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    thead {
      background: $blue;
      color: #fff;
      td {
        padding: .6em 0;
      }
    }

    tbody {
      tr {
        background: $midgrey;
        &:nth-child(2n+1) {
          background: $lightgrey;
        }
        td {
          padding: .5em 0;
        }
      }
    }
  }
}

#bo .add-journal {
  background: $lightgrey;
  padding: 3em 0;

  .head-add-journal {
    text-align: center;
    margin: 1em 0;
    span {
      font-family: $dinM;
    }
  }

  .inner-add-journal {
    width: 85%;
    margin: 0 auto;
  }

  h2 {
    margin: 6em 0 3em 0;
  }

  form div {
    margin-bottom: 2em;

  &.left-side, &.right-side {
    width: 45%;
    input[type="text"], textarea {
      background: rgba(216,216,216,0.4);
      padding: .5em 1em;
      width: 100%;
    }
    label {
      font-weight: bolder;
      margin-bottom: .4em;
    }
  }

  &[class*="-side"] {
    display: inline-block;
  }

  &.right-side {
    margin-top: 2em;
    margin-left: 9%;
  }

  &.actions {
    margin-top: 3em;
    text-align: right;
    a {
      text-transform: uppercase;
      color: $blue;
      padding: .5em 1.8em;
      border: 2px solid $blue;
      cursor: pointer;
      margin-right: 1.5em;
    }

    input[type="submit"] {
      background: $blue;
      color: #fff;
      text-transform: uppercase;
      padding: .5em 1.8em;
      border: 2px solid $blue;
      cursor: pointer;
    }
  }

  }
}

/*----------------------MEDIAQUERIES----------------*/


@media screen and (max-width: 735px){
#bo{
  font-size:20px;
}


header {
  width:100%;
  padding:50px;

}
header .span{
  margin-top:40px;
}

.head-view-journals{
  margin-bottom:26px;
}

#bo > header > div > span{
display:block;
float:left


}
form{
  display:block;
}


#bo > main > section.add-journal > div > h2{
  width:100%;
  padding:0;
}
h2::before{
  display:none;
}
h2{
  text-align:center;
}
#bo .add-journal form div.left-side,
#bo .add-journal form div.right-side{
  width:100%;
}
#bo .add-journal form div.right-side{
  margin:0;
}
}
@media screen and (max-width: 620px){

#bo > header > div > span{
  margin-top:30px;
}
}