/***** 	 BOUTIQUE 	*****/

body .fil_arianne a,span{
	display: inline-block;
	color: $black;
	font-family: $roboto;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 1px;
}

body .fil_arianne span {
	padding: 0 2%;
}

body .fil_arianne a:nth-child(3) {
	color: $blue;
}

.container_table div {
	margin-top: 8%;
}

.container_table div h1 {
	color: black;
	font-family: $roboto;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 1px;
	padding-bottom: 1%;
}

.container_table div p {
	color: $black;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
	padding-bottom: 3%;
}

.container_table div:nth-child(1) p::after {
	content: " commande";
	color: $black;
	font-family: $roboto;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1px;
	padding-bottom: 1%;
}

.container_table div:nth-child(2) p::after {
	content: " abonnement";
	color: $black;
	font-family: $roboto;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1px;
	padding-bottom: 1%;
}


.container_table div img {
	width: 100%;
}

.container_button {
	width: 100%;
	margin-top: 13%;
}

.container_button button:nth-child(1) {
	float: left;
	padding: 5% 19.8%;
	background-color: $blue;
	color: white;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
}

.container_button button:nth-child(2) {
	float: right;
	padding: 5% 20.5%;
	background-color: $lightgrey;
	color: $black;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
}


/***** 	 BOUTIQUE STEP 1	*****/



.container_signin {
	float: left;
	width: 100%;
	background-color: #F7F7F7;
}

.container_signin .container_steps {
	display: inline-block;
	float: left;
	width: 30%;
	background-color: #3BC0D1;
	padding-bottom: 10%;
}

.container_signin .container_steps p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 150px;
	text-align: center;
}


.container_signin .container_steps div {
	border-bottom: solid white 10px;
	margin-left: 35%;
	width: 30%;
}

.container_signin .container_steps p:nth-child(1) {
	padding-top: 22%;
}


.container_signin .container_fields {
	width: 60%;
	float: left;
}


.container_signin .container_fields p {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
}


.left_fields {
	float: left;
	margin: 16% 5% 0 22%;
}

.left_fields p {
	padding-top: 15%;
}

.right_fields {
	float: left;
	margin-top: 16%;
}

.right_fields p {
	padding-top: 15%;
}

.container_fields input[type="text"],input[type="tel"],input[type="mail"] {
	background-color: #EEEEEE;
	padding: 10px 50px 10px 20px;
	border: none;
	outline: none;
	font-size: 15px;
}

.container_btn_fields{
	float: right;
}

.container_btn_fields button {
	float: right;
	color: white;
	background-color: #3BC0D1;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding: 3% 10%;
	outline: none;
	border: none;
	cursor: pointer;
}

.container_btn_previous{
	float: left;
	margin-top: 10%;
}

.container_btn_previous button {
	float: left;
	color: white;
	background-color: #191919;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding: 3% 10%;
	outline: none;
	border: none;
	cursor: pointer;
}
