@font-face {
	font-family: 'DIN Light';
	src: url(../fonts/Din/din_light.ttf);
}

@font-face {
	font-family: 'DIN Regular';
	src: url(../fonts/Din/din_regular.ttf);
}

@font-face {
	font-family: 'DIN Medium';
	src: url(../fonts/Din/din_medium.otf);
}

@font-face {
	font-family: 'DIN Bold';
	src: url(../fonts/Din/din_bold.ttf);
}
