
header {
	position: relative;
	height: 55vh;

	@media screen and (max-width: 1124px) {
		height: 40vh;
	}

	@media screen and (max-width: 715px) {
		height: 30vh;
	}
}

header.bo_header {
	height: 25vh;
	border-bottom: 1px solid $black;

	.logo, .links {
		display: inline-block;
		vertical-align: middle;
	}
}

header .logo {
	float: left;
	margin: 3% 0 0 8%;

	a img {
		width: 100%;
	}

}

.header-bg {
	position: absolute;
	top: 0;
	z-index: -555;
	width: 100%;
}

header nav {
	float: right;
	width: 47%;
	margin-top: 4.5%;
}

header .nav_barre ul {
	width: 100%;
	margin-left: 15%;
}

header .nav_barre ul li{
	display: inline-block;
	margin-right: 5.5%;
	font-size: 18px;
	font-family: $dinL;
	letter-spacing: 1px;
}

header .nav_barre ul li a {
	color: white;
}

.block_header {
	width: 100%;
	position: absolute;
	top: 15%;
}

.block_header div:nth-child(1) p{
	width: 80%;
	font-size: 30px;
	color: white;
	font-family: $dinR;
	letter-spacing: 1px;
	float: left;
	margin: 7.8% 0 0 9%;
	line-height: 6vh;
}


.block_header>button {
	padding: 13px 30px;
	text-transform: uppercase;
	font-family: 'din_regular', sans-serif;
	font-size: 18px;
	color: white;
	background-color: #3BC0D1;
	border: none;
	float: left;
	margin: 3% 0 0 9%;
	outline: none;
	cursor: pointer;
	letter-spacing: 1px;

}

.block_header .btn_feuille>img {
	margin-left: 10px;
}

.block_header .btn_command {
	padding: 10px 30px 10px 50px;
	text-transform: uppercase;
	font-family: 'din_regular', sans-serif;
	font-size: 20px;
	color: $blue;
	background-color: transparent;
	border: solid $blue 3px;
	float: left;
	margin: 3% 0 0 2%;
	outline: none;
	cursor: pointer;
}

.block_header div.rectangle {
	position: absolute;
	width: 10.5%;
	height: 9%;
	background-color: #3BC0D1;
	bottom: -120px;
	right: 0;
}



.navPhone{
	display: none;
	position: absolute;
}

input[type="checkbox"]{
	position: absolute;
	left: -50px;
	top: 0;
}

.navPhone{
	display: none;
	position: fixed;
}

input[type="checkbox"]{
	position: absolute;
	left: -50px;
	top: 0;
}


@media only screen and (max-width : 1200px) {
	header .nav_barre {
		margin-right: 5%;
	}
}

@media only screen and (max-width : 1024px)  {

	header .nav_barre {
		display: none;
	}

	header h1.logo a img {
		width: 40%;
	}

	header h1.logo {
		text-align: center;
		width: 80%;
	}


	.navPhone{
    	display: block;
    	position: fixed;
    	z-index: 2;
  	}

  .navPhone .mainNav .choice{
    display: inline-block;
    margin: 2.5% 2% 0 0;
  }

 .navPhone .mainNav .choice:nth-child(1){
  margin-left: 20px;
}

.navPhone .mainNav .choice:nth-child(2){
  margin-left: 10px;
}

.navPhone .mainNav .choice{
  position: fixed;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 40px;
  padding: 4px;
}

.navPhone .mainNav .choice span{
  width: 80%;
  background-color: white;
  height: 3px;
  position: absolute;
  z-index: 99;
}

.navPhone .mainNav:nth-child(1)  .choice span:nth-child(2){
  top:0px;
}
.navPhone .mainNav .choice span:nth-child(3){
  top: 0 px;
}

.contentMenuPhone{
  z-index: 98;
  width: 400px;
  background-color: white;
  height: 120vh;
  position: fixed;
  top: -50px;
  right: -400px;
  transition: 0.6s;
}

.navPhone ul{
	list-style: none;
}

.navPhone ul li a{
   color: black;
   cursor: pointer;
   text-decoration: none;
}

.contentMenuPhone ul li a{
   color: black;
   cursor: pointer;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
}

.contentMenuPhone ul li{
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 7vh;
}

.contentMenuPhone ul li:nth-child(1){
  margin-top: 20vh;
}

.choice {
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}


input[type="checkbox"]:checked + .navPhone .contentMenuPhone{
    position: fixed;
    right:0;
}

input[type="checkbox"]:checked + .navPhone .contentMenuPhone{
    position: fixed;
    right:0;

}

input[type="checkbox"]:checked  + .navPhone .mainNav .choice span:nth-child(2) {
	display: none;
	z-index: 3;
}

input[type="checkbox"]:checked  + .navPhone .mainNav .choice span:nth-child(1) {
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    transition: 0.6s;
    z-index: 20;
    background-color: black;
}

input[type="checkbox"]:checked  + .navPhone .mainNav .choice span:nth-child(3) {
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    z-index: 20;
    transition: 0.6s;
    background-color: black;
}


input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(2) {
	z-index:5;
	top: 20px;
}


input[type="checkbox"] + .navPhone .mainNav .choice span:nth-child(1) {
	background-color: white;
    transition: 0.6s;
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    top: 0px;
    z-index: 20;
}
input[type="checkbox"]  + .navPhone .mainNav .choice span:nth-child(3) {
	background-color: white;
    transition: 0.6s;
	top: 10px;
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    z-index: 20;
}
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

	header .nav_barre {
		display: none;
	}

	header h1.logo a img {
		width: 40%;
	}

	header h1.logo {
		text-align: center;
		width: 80%;
	}


.navPhone{
    	display: block;
    	position: fixed;
    	z-index: 2;
  	}

.navPhone .mainNav .choice{
    display: inline-block;
    margin: 2% 2% 0 0;
  }

.navPhone .mainNav .choice:nth-child(1){
  margin-left: 20px;
}

.navPhone .mainNav .choice:nth-child(2){
  margin-left: 10px;
}

.navPhone .mainNav .choice{
  position: fixed;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 40px;
  padding: 4px;
}

.navPhone .mainNav .choice span{
  width: 50%;
  background-color: white;
  height: 2px;
  position: absolute;
  z-index: 99;
  display: block;
}

.navPhone .mainNav:nth-child(1)  .choice span:nth-child(2){
  top: 10px;
}
.navPhone .mainNav .choice span:nth-child(3){
  top: 16px;
}

.contentMenuPhone{
  z-index: 98;
  width: 400px;
  background-color: white;
  height: 120vh;
  position: fixed;
  top: -50px;
  right: -400px;
  transition: 0.6s;
}

.navPhone ul{
	list-style: none;
}

.navPhone ul li a{
   color: black;
   cursor: pointer;
   text-decoration: none;
}

.contentMenuPhone ul li a{
   color: black;
   cursor: pointer;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}

.contentMenuPhone ul li{
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 7vh;
}

.contentMenuPhone ul li:nth-child(1){
  margin-top: 20vh;
}

.choice {
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

input[type="checkbox"]:checked + .navPhone .contentMenuPhone{
    position: fixed;
    right:0;

}

input[type="checkbox"]:checked  + .navPhone .mainNav .choice span:nth-child(2) {
	display: none;
	z-index: 3;
}

input[type="checkbox"]:checked  + .navPhone .mainNav .choice span:nth-child(1) {
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    transition: 0.6s;
    z-index: 20;
    background-color: black;
}

input[type="checkbox"]:checked  + .navPhone .mainNav .choice span:nth-child(3) {
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    z-index: 20;
    transition: 0.6s;
    background-color: black;
}


input[type="checkbox"]  + .navPhone .mainNav .choice span:nth-child(2) {
	z-index:5;
	top: 10px;
}


input[type="checkbox"]  + .navPhone .mainNav .choice span:nth-child(1) {
	background-color: white;
    transition: 0.6s;
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    top: 0px;
    z-index: 20;
}
input[type="checkbox"]  + .navPhone .mainNav .choice span:nth-child(3) {
	background-color: white;
    transition: 0.6s;
	top: 5px;
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    z-index: 20;
}

}


.form-wrapper {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 100px auto;
  overflow: hidden;
  width: 160px;
  height: 22px;
}

.form-wrapper #search {
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFF;
  color: #FFF;
  float: left;
  font: 13px Roboto, sans-serif;
  height: 20px;
  margin: 0 auto;
  padding: 10px;
  width: 128px;
}


.form-wrapper #search:-moz-placeholder,
.form-wrapper #search:-ms-input-placeholder,
.form-wrapper #search::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}



.btn-submit{

}
//.form-wrapper #submit {
//  background-color: #0483a0;
//  background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
//  background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
//  background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
//  background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
//  background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
//  background-image: linear-gradient(top, #31b2c3, #0483a0);
//  border: 1px solid #00748f;
//  -moz-border-radius: 3px;
//  -webkit-border-radius: 3px;
//  border-radius: 3px;
//  color: #fafafa;
//  cursor: pointer;
//  height: 21.8px;
//  float: right;
//  font: 15px Arial, Helvetica;
//  padding: 0;
//  margin: 0 auto;
//  text-transform: uppercase;
//  text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
//  width: 30px;
//}
//
//.form-wrapper #submit:hover,
//.form-wrapper #submit:focus {
//  background-color: #31b2c3;
//  background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
//  background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
//  background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
//  background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
//  background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
//  background-image: linear-gradient(top, #0483a0, #31b2c3);
//}
//
//
//.form-wrapper #submit::-moz-focus-inner {
//  border: 0;
//}
