@charset "utf-8";

* {
		padding: 0;
		margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: 'Roboto';
	font-size: 16px;
}

label {
	display: block;
}

ul {
	list-style: none;
}

input, textarea, button {
	border: none;
	outline: none;
}

input[type="text"], input[type="password"], textarea {
	background: rgba(216,216,216,0.4);
	padding: .5em 1em;
	margin-top: .5em;
}

input[type="submit"] {
	border: none;
	background: none;
}

a, a:visited {
	text-decoration: none;
	color: initial;
}

main {
	overflow-x: hidden;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

// main {
// 	max-width: 1200px;
// 	margin: 0 auto;
// }

@mixin blue-cta {
	background: $blue;
	color: #fff;
	text-transform: uppercase;
	padding: .5em 1.8em;
	border: 2px solid $blue;
	cursor: pointer;
}

@mixin blue-bordered-cta {
	text-transform: uppercase;
	color: $blue;
	padding: .5em 1.8em;
	border: 2px solid $blue;
	cursor: pointer;
	margin-right: 1.5em;
}
